{%- if include.author -%}
<span>By {{include.author}}</span>
{%- elsif page.author -%}
<span>By {{page.author}}</span>
{%- endif -%}

{%- if include.author or page.author -%}
{% if include.date and include.nodate != true %}
<span aria-hidden="true"> · </span>
{% elsif page.date and page.nodate != true %}
<span aria-hidden="true"> · </span>
{% endif %}
{%- endif -%}

{%- if include.date and include.nodate != true%}
<time class="no-wrap">{{ include.date | date: '%B %e, %Y' }}</time>
{%- elsif page.date and page.nodate != true -%}
<time class="no-wrap">{{ page.date | date: '%B %e, %Y' }}</time>
{%- endif -%}