{%- if include.author -%}
<span>By {{author}}</span>
{%- elsif page.author -%}
<span>By {{page.author}}</span>
{%- endif -%}

{%- if author or page.author -%}
{% if date and nodate != true %}
<span aria-hidden="true"> · </span>
{% elsif page.date and page.nodate != true %}
<span aria-hidden="true"> · </span>
{% endif %}
{%- endif -%}

{%- if date and nodate != true%}
<time class="no-wrap">{{ date | date: '%B %e, %Y' }}</time>
{%- elsif page.date and page.nodate != true -%}
<time class="no-wrap">{{ page.date | date: '%B %e, %Y' }}</time>
{%- endif -%}