<a href="#top" id="back-to-top" style="display:none" class="small no-deco meta">Back to top</a>
<script>
    function maintainBackToTopVisibility() {
        let windowHeight = window.innerHeight;
        let documentHeight = document.body.clientHeight;
        let backToTop = document.getElementById('back-to-top');

        if (windowHeight * 1.5 < documentHeight) {
            backToTop.style.display = 'inline';
        } else {
            backToTop.style.display = 'none';
        }
    }

    maintainBackToTopVisibility();
    addEventListener('scroll', event => maintainBackToTopVisibility());
    addEventListener('resize', event => maintainBackToTopVisibility());

</script>