{%- if page.nometa != true and page.nostepnav != true -%}
{%- assign pageMeta = "" | split: ""%}
{%- assign pageMeta = pageMeta | push: page.tags -%}
{%- assign pageMeta = pageMeta | push: page.categories -%}
{%- assign pageMeta = pageMeta | compact | uniq | sort -%}

{% if pageMeta.size > 0 %}
<nav class="meta inline-block lh-1">
    <span> in </span>
    {%- for meta in pageMeta -%}    
    <ul class="reset mry-0 inline ">
        <li class="inline"><a class="meta no-deco" href="/{{meta}}/"><span aria-hidden="true">#</span>{{meta}}</a></li>
    </ul>
    {%- endfor -%}
</nav>
{% endif %}
{%- endif -%}