<div class="my-ryt-2xl">
  <div id="comment-list" class="no-indent"></div>

  <form id="comment-form" name="comment">
    <label class="my-ryt-lg">
      Write a comment
      <span class="font-normal text-sm">(Markdown is okay)</span>
      <textarea
        required
        class="block w-full h-ryt-3xl"
        name="comment"></textarea>
    </label>
    <label class="my-ryt-lg">
      Your name
      <input
        required
        class="block"
        name="author"
        type="text">
    </label>
    <input
      type="submit"
      id="submit-comment"
      value="Submit your comment">
  </form>
</div>