<details class="no-js-hidden">
  <summary>
    <h2 class="inline my-0">Comments</h2>
  </summary>
  <form id="comment-form" name="comment">
    <label class="my-ryt-lg">
      Your name:
      <input
        required
        class="block"
        name="author"
        type="text">
    </label>
    <label class="my-ryt-lg">
      Your comment:
      <textarea
        required
        class="block w-full h-xs"
        name="comment"></textarea>
    </label>
    <input
      type="submit"
      id="submit-comment"
      value="Submit comment">
  </form>
</details>