{%- if date or page.date and nodate == nil %}
{%- assign hasDate = true -%}
{%- endif -%}
{%- if updated or page.updated and nodate == nil %}
{%- assign isUpdated = true -%}
{%- endif -%}
{%- if hasDate or isUpdated -%}
    {%- assign hasdate = true -%}
{%- else -%}
    {%- assign hasdate = false%}
{%- endif -%}
{%- if tags  -%}
    {%- assign hastags = true -%}
{%- endif -%}
{%- if notags  -%}
    {%- assign hastags = false -%}
{%- endif -%}
{%- if hasdate or hastags  -%}
    <span class="inline-block {{starred}}">        
        {%- include "date.html" -%}
        {%- if hastags and hasdate or isUpdated -%}
        <span>, </span>
        {%- endif -%}
        {%- include "tags.html" -%}
    </span>
{%- endif -%}