{%- if posted or page.date and nodate == nil %}
    {%- if posted -%}
        {%- assign section = true -%}
    {%- else -%}
        {%- assign posted = page.date -%}
        {%- assign section = false -%}
    {%- endif -%}
{%- endif -%}

{%- if updated or indicateModifiedDate and modifiedDate and nodate == nil %}
    {%- if section == false -%}
        {%- assign updated = modifiedDate -%}
    {%- endif -%}
{%- endif -%}

{%- if posted -%}
    {%- if section == false -%}
        <span>Posted </span>
    {%- endif -%}
    <time datetime="{{date | isoDate}}" class="inline-block">{{ posted | humanDate }}</time>
    {%- if updated -%}
        <span>, updated </span>
    {%- endif -%}
{%- endif -%}
{%- if updated -%}
    <time datetime="{{updated | isoDate}}" class="inline-block">{{ updated | humanDate }}</time>
{%- endif -%}