{%- if posted or page.date and nodate == nil %} {%- assign posted = page.date
-%} {%- endif -%} {%- if updated or indicateModifiedDate != '' and modifiedDate
and nodate == nil %} {%- assign updated = modifiedDate -%} {%- endif -%} {%- if
tags and notags == nil -%} {%- assign tags = tags -%} {%- else -%} {%- assign
tags = nil -%} {%- endif -%} {%- if posted != nil or updated != nil or tags !=
nil -%}
<div class="text-sm">
  {% if posted != nil %}
  <time
    class="whitespace-nowrap {% if updated != nil or tags != nil %}mr-ryt{% endif %}"
    datetime="{{date | isoDate}}"
    >{{ posted | humanDate }}</time
  >
  {% endif %} {% if updated %}
  <span class="whitespace-nowrap">
    <span>Updated</span>
    <time
      datetime="{{date | isoDate}}"
      class="{% if updated != nil or tags != nil %}mr-ryt{%- endif -%}"
      >{{ updated | humanDate }}</time
    >
  </span>
  {% endif %} {% if tags != nil %} {%- assign sortedTags = tags | uniq | sort
  -%}
  <ul class="space-x-ryt-xs inline reset">
    {% for tag in sortedTags %} {% if tag == site.starTag %}
    <li class="inline">
      <a href="{{tag | tagUrl}}" class="no-underline text-base px-ryt-2xs"
        >{{ site.starTagSymbol }}</a
      >
    </li>
    {% endif %} {% endfor %} {% for tag in sortedTags %} {% if tag !=
    site.starTag %}
    <li class="inline">
      <a href="{{tag | tagUrl}}" class="no-underline">#{{ tag }}</a>
    </li>
    {% endif %} {% endfor %}
  </ul>
  {% endif %}
</div>
{%- endif -%}
