{% assign isPosted = date or page.date and nodate == nil %}
{% assign isUpdated = updated or page.updated and nodate == nil %}

{%- if isPosted or isUpdated -%}
    {%- assign hasdate = true -%}
{%- else -%}
    {%- assign hasdate = false%}
{%- endif -%}
{%- if tags  -%}
    {%- assign hastags = true -%}
{%- endif -%}
{%- if notags  -%}
    {%- assign hastags = false -%}
{%- endif -%}
{%- if hasdate or hastags  -%}
    <span class="inline-block {{starred}}">        
        {% include date.html %}
        {% include tags.html %}
    </span>
{%- endif -%}