{%- if date or page.date and nodate == nil %}
{%- assign hasDate = true -%}
{%- endif -%}
{%- if nodate == nil %}
{%- assign changeDate = page | changeDate | humanDate -%}
{%- endif -%}
{%- if hasDate or changeDate -%}
    {%- if date -%}
        <time datetime="{{date | isoDate}}" class="inline-block">{{ date | humanDate }}</time>
        {%- elsif nodate == nil and page.date -%}
        <span>Posted</span>
        <time datetime="{{page.date | isoDate}}" class="inline-block">{{ page.date | humanDate }}</time>        
        {%- if changeDate != '' -%}<span>, updated </span>{%- endif -%}
    {%- endif -%}
    {%- if changeDate != '' -%}
        <time datetime="{{date | isoDate}}" class="inline-block">{{ changeDate | humanDate }}</time>        
    {%- endif -%}
{%- endif -%}