<footer class="lh-4 small">
	{%- if hasmainnav -%}
		{%- include main-nav.html -%}
	{%- endif -%}
	<nav class="meta">
		<ul class="mry-0 reset">
			<li id="back-to-top" style="display:none;">
				<a href="#top" class="meta no-deco">Back to top</a>
			</li>
			{%- for p in site.footernav -%}
				<li class="inline-block">
					{%- if navid == p.id -%}
						<a class="meta no-deco bold heading-color" aria-current="page" href="{{ p.url }}">{{p.label}}</a>
					{%- else -%}
						<a class="meta no-deco " href="{{ p.url }}">{{p.label}}</a>
					{%- endif -%}
				</li>
			{%- endfor -%}
		</ul>
	</nav>
	<aside class="meta" id="load-time" style="display:none"></aside>
</footer>