<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-Control" content="no-store, max-age=0">
<meta name="color-scheme" content="light dark">
{%- if site.dark_theme_color -%}
  <meta
    name="theme-color"
    media="(prefers-color-scheme: dark)"
    content="{{site.dark_theme_color}}">
{%- endif -%}
{%- if site.theme_color -%}
  <meta name="msapplication-TileColor" content="{{site.theme_color}}">
  <meta name="theme-color" content="{{site.theme_color}}">
{%- endif -%}
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{site.base}}apple-touch-icon.png">
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{site.base}}favicon-32x32.png">
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{site.base}}favicon-16x16.png">
<link rel="manifest" href="{{site.base}}site.webmanifest">
<link rel="stylesheet" href="{{site.base}}css/main-{{site.cacheVersioning.css}}.css" />
<link
  rel="preload"
  href="{{site.base}}fonts/iAWriterQuattroS-Regular.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous" />
<link
  rel="preload"
  href="{{site.base}}fonts/iAWriterQuattroS-Bold.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous" />
<link
rel="preload"
  href="{{site.base}}fonts/ibm-plex-sans-latin-700.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous" />
<!-- SEO/feed -->
<link rel="canonical" href="{{site.origin}}{{page.url}}">
<link
rel="alternate"
  href="{{site.origin}}{{site.rss}}"
  title="{{site.title}}"
  type="application/atom+xml">
<!-- title and description -->
{%- if title != nil and title != "notitle" and title != "" -%}
  {%- assign adaptedTitle = title -%}
{%- elsif tag != nil and tag != "" -%}
  {%- assign adaptedTitle = "Posts tagged " | append: tag -%}
{%- elsif pagedItems.tag != nil and pagedItems.tag != "" -%}
  {%- assign adaptedTitle = "Posts tagged " | append: pagedItems.tag -%}
{%- elsif pagedItems.tag == "" -%}
  {%- assign adaptedTitle = "All posts" -%}
{%- else -%}
  {%- assign adaptedTitle = site.name -%}
{%- endif -%}
<title>{{ adaptedTitle }}</title>
{%- if abstract != nil and abstract != "" -%}
  <meta name="description" content="{{abstract | strip_html }}">
{%- endif -%}
<!-- Open Graph -->
<meta property="og:title" content="{{adaptedTitle}}">
<meta property="og:url" content="{{site.origin}}{{page.url}}">
<meta property="og:type" content="website">
{%- if abstract != nil and abstract != "" -%}
  <meta property="og:description" content="{{abstract | strip_html }}">
{%- endif -%}
{%- assign firstImage = collections.liveContent | firstImage: page.url -%}
{%- if firstImage.src -%}
  <meta property="og:image" content="{{site.origin}}{{firstImage.src}}">
  <meta property="og:image:alt" content="{{firstImage.alt}}">
{%- endif -%}
<!-- GitHub -->
{%- if site.ownership.email -%}
  <link rel="me" href="mailto:{{site.ownership.email}}">
{%- endif -%}

<!-- Mastodon -->
{%- if site.ownership.mastodon.profile -%}
  <link rel="me" href="{{site.ownership.mastodon.profile}}">
{%- endif -%}
<!-- GitHub -->
{%- if site.ownership.github.profile -%}
  <link rel="me" href="{{site.ownership.github.profile}}">
{%- endif -%}
<!-- Twitter -->
<meta name="twitter:card" content="summary">
{%- if site.ownership.twitter.user -%}
  <meta name="twitter:site" content="{{site.ownership.twitter.user}}">
  <meta name="twitter:creator" content="{{site.ownership.twitter.user}}">
{%- endif -%}
{%- if firstImage.src -%}
  <meta property="twitter:image:src" content="{{site.origin}}{{firstImage.src}}">
{%- endif -%}
<!-- scripts -->
{% include "head-scripts.html" %}