<link rel="manifest" href="/manifest.json">
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
<meta name="theme-color" content={{site.themecolor}}>
<link rel="stylesheet" href="/css/main.css"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    {%- if title and title != "notitle" and notitle == nil %}{{ title }}{% if tag != nil %} tagged {{tag}}{% endif -%}
    {% else %}
        {{ site.title }}
    {% endif %}
</title>
<script>
    addEventListener('keydown', event => {
        if (event.key == '{{site.searchKey}}') {
            let queryField = document.querySelector('#search-query');
            let focus = document.querySelector(':focus');
            if (queryField && queryField != focus) {
                queryField.focus();
                event.preventDefault();
            } else if (!queryField) {
                location.href = {{site.search}};
                event.preventDefault();
            }

        }
    });
</script>
{% include site-scripts.html %}