<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-Control" content="no-store, max-age=0">
<meta name="color-scheme" content="light dark">
{%- if site.dark_theme_color -%}
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{site.dark_theme_color}}">
{%- endif -%}
{%- if site.theme_color -%}
    <meta name="msapplication-TileColor" content="{{site.theme_color}}">
    <meta name="theme-color" content="{{site.theme_color}}">
{%- endif -%}
<meta name="description" content="{%- if title and title != 'notitle' and subtitle == nil and abstract == nil %}{{ title }}. {%
    endif %}{% if subtitle != nil %}{{subtitle}}. {% endif %}{% if abstract != nil %}{{abstract}}{% endif %}">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.base}}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.base}}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.base}}favicon-16x16.png">
<link rel="manifest" href="{{site.base}}site.webmanifest">
<link rel="stylesheet" href="{{site.base}}css/main.css"/>
<link rel="preload" href="{{site.base}}fonts/iAWriterQuattroS-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="{{site.base}}fonts/iAWriterQuattroS-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<!-- SEO/feed -->
<link rel="canonical" href="{{site.origin}}{{page.url}}">
<link rel="alternate" href="{{site.origin}}{{site.rss}}" title="{{site.title}}" type="application/atom+xml">
<title>
    {%- if title and title != "notitle" %}{{ title }}
    {% else %}
        {{ site.title }}
    {% endif %}
</title>
{% include "head-scripts.html" %}