<table class="noso">
  <caption>
    Shortcuts to navigate
    <em>{{ site.name }}</em>
    with the keyboard
  </caption>
  <tr>
    <th>Navigate to</th>
    <th>by pressing key</th>
  </tr>
  {%- for nav in site.mainnav -%} {%- if nav.kbd != nil and nav.kbd != '' %}
  <tr>
    <td>
      <a class="no-underline" href="{{nav.url}}">{{ nav.label }}</a>
    </td>
    <td>
      <kbd>{{ nav.kbd }}</kbd>
    </td>
  </tr>
  {%- endif -%} {%- endfor -%} {%- for nav in site.footernav -%} {%- if nav.kbd
  != nil and nav.kbd != '' %}
  <tr>
    <td>
      <a class="no-underline" href="{{nav.url}}">{{ nav.label }}</a>
    </td>
    <td>
      <kbd>{{ nav.kbd }}</kbd>
    </td>
  </tr>
  {%- endif -%} {%- endfor -%} {%- if site.backToTop and site.backToTop.kbd and
  site.backToTop.id -%}
  <tr>
    <td>
      <a class="no-underline" href="#{{site.backToTop.id}}">
        {%- if site.backToTop.label -%} {{ site.backToTop.label }} {%- else -%}
        Back to Top {%- endif -%}
      </a>
    </td>
    <td>
      <kbd>{{ site.backToTop.kbd }}</kbd>
    </td>
  </tr>
  {%- endif -%} {%- if site.navOlder and site.navOlder.kbd and site.navOlder.id
  -%}
  <tr>
    <td>
      {%- if site.navOlder.label -%} {{ site.navOlder.label }} (for paginated
      content) {%- else -%} Older posts (for paginated content) {%- endif -%}
    </td>
    <td>
      <kbd>{{ site.navOlder.kbd }}</kbd>
    </td>
  </tr>
  {%- endif -%} {%- if site.navNewer and site.navNewer.kbd and site.navNewer.id
  -%}
  <tr>
    <td>
      {%- if site.navNewer.label -%} {{ site.navNewer.label }} (for paginated
      content) {%- else -%} Newer posts (for paginated content) {%- endif -%}
    </td>
    <td>
      <kbd>{{ site.navNewer.kbd }}</kbd>
    </td>
  </tr>
  {%- endif -%}
</table>
