<nav class="meta-font {% if bleed and bleed != false%}bleed{% else %}mxw-rg{% endif %} mrx-auto mry-1">
	<ul class="reset mry-0">
		{%- for p in site.mainnav -%}

			<li class="inline-block">
				{%- if id == p.id -%}
					<a aria-current="page" class="no-deco bold heading-color no-wrap" href="{{ p.url }}">{{p.label}}</a>
					{%- elsif p.id == 'editOnGitHub' %}
					<a href="{{p.url}}{{page.inputPath}}" target="_blank" class="no-deco no-wrap">{{p.label}}</a>
				{%- else -%}
					<a class="no-deco no-wrap" href="{{ p.url }}">{{p.label}}</a>
				{%- endif -%}
			</li>

		{%- endfor -%}
	</ul>
</nav>