<nav>
  <ul class="reset flex gap-ryt-lg">
    {%- for p in site.mainnav -%}
    <li class="{{p.classList}}" id="{{p.id}}">
      {%- if id == p.id -%}
      <a
        aria-current="page"
        class="no-underline whitespace-nowrap font-bold"
        href="{{ p.url }}"
        >{{ p.label }}</a
      >
      {%- elsif p.id == 'edit-on-github' %}
      <a
        href="{{p.url}}{{page.inputPath}}"
        target="_blank"
        class="no-underline whitespace-nowrap"
        {%
        if
        p.type
        %}type="{{p.type}}"
        {%
        endif%}
        >{{ p.label }}</a
      >
      {%- else -%}
      <a class="no-underline whitespace-nowrap" href="{{ p.url }}"
        >{{ p.label }}</a
      >
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
</nav>
