<nav class="meta-font mxw-rg mrx-auto">
  <ul class="reset mry-0">
    {%- for p in site.mainnav -%}
      <li class="inline-block">
        {%- if id == p.id -%}
          <a aria-current="page" class="no-deco strong heading-color no-wrap" href="{{ p.url }}">{{p.label}}</a>
        {%- elsif p.id == 'editOnGitHub' %}
          <a href="{{p.url}}{{page.inputPath}}" target="_blank" class="no-deco no-wrap">{{p.label}}</a>
        {%- else -%}
          <a class="no-deco no-wrap" href="{{ p.url }}">{{p.label}}</a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>