<nav>
	{%- for p in collections.pages -%}

		{%- if p.data.mainnav -%}
			{%- unless p.url != "/" -%}
				{%- if page.url == p.url -%}
					<span class="inline-block meta heading-color bold mrr-d1">{{p.data.mainnav}}</span>
				{%- else -%}
					<span class="inline-block mrr-d1">
						<a href="/" class="no-deco meta">{{p.data.mainnav}}</a>
					</span>
				{%- endif -%}
			{%- endunless -%}
		{%- endif -%}
	{%- endfor -%}

	<ul class="reset inline-block mry-0">
		{%- for p in collections.pages -%}
			{%- if p.data.mainnav -%}
				{%- unless p.url == "/" -%}
					{%- if page.url == p.url -%}
						<li class="inline-block meta heading-color bold">{{p.data.mainnav}}</li>
						{%- elsif page.categories contains p.categories and page.categories.size == 1 -%}

						<li class="inline-block">
							<a class="no-deco meta heading-color bold" href="{{ p.url }}">{{p.data.mainnav}}</a>
						</li>
					{%- else -%}
						<li class="inline-block">
							<a class="no-deco meta" href="{{ p.url }}">{{p.data.mainnav}}</a>
						</li>
					{%- endif -%}

				{%- endunless -%}
			{%- endif -%}
		{%- endfor -%}

	</ul>
</nav>