{%-if pagedItems.pageCount > 1 -%}
  <nav class="max-w-xs flex flex-row justify-between">
    {%-if pagedItems.previous != "" and pagedItems.previous != nil -%}
      <div>
        <strong>
          <a id="nav-previous" class="h2 text-primary block mt-ryt-lg mb-0" href="{{pagedItems.previous}}">
            {%-if site.navPrevious.label -%}
              {{site.navPrevious.label}}
              {%-else-%}Newer posts{%-endif-%}
          </a>
        </strong>
        <strong>
          <a id="nav-first" class="h2 text-primary block mt-ryt-lg mb-0" href="{{pagedItems.first}}">
            {%-if site.navFirst.label -%}
              {{site.navFirst.label}}
              {%-else-%}Newest{%-endif-%}
          </a>
        </strong>
      </div>
    {%- endif -%}
    {%-if pagedItems.next != "" and pagedItems.next != nil -%}
      <div>
        <strong>
          <a id="nav-next" class="h2 text-primary block mt-ryt-lg mb-0" href="{{pagedItems.next}}">
            {%-if site.navNext.label -%}
              {{site.navNext.label}}
              {%-else-%}Older posts{%-endif-%}
          </a>
        </strong>
        <strong>
          <a id="nav-last" class="h2 text-primary block mt-ryt-lg mb-0" href="{{pagedItems.last}}">
            {%-if site.navLast.label -%}
              {{site.navLast.label}}
              {%-else-%}Oldest{%-endif-%}
          </a>
        </strong>
      </div>
    {%- endif -%}
  </nav>
{%- elsif pagedItems == nil -%}
  <strong>
    <a id="nav-next" class="h2 text-primary inline-block mt-ryt-lg mb-0" href="{{site.blog}}">
      All posts
    </a>
  </strong>
{%- endif -%}