{%- if pagedItems.pageData.length > 0 -%} {%- assign livePosts =
pagedItems.pageData -%} {%- else -%} {%- assign livePosts =
collections.liveContent | post -%} {%- endif -%}

<div class="lg:flex lg:-ml-[200px]">
  <div class="lg:w-[200px] shrink-0 lg:mt-ryt-lg">
    {% if livePosts.year or livePosts.yearsInterval %}
    <aside
      class="lg:sticky lg:top-ryt-2xl lg:leading-snug lg:pr-ryt-xl lg:text-right"
    >
      <span class="lg:hidden">Written </span>
      {% if livePosts.year %}
      <time class="lg:font-bold">{{livePosts.year}}</time>
      {% elsif livePosts.yearsInterval %}
      <time class="lg:font-bold"
        >{{livePosts.yearsInterval[0]}}–{{livePosts.yearsInterval[1]}}</time
      >
      {% endif %}
    </aside>
    {% endif %}
  </div>

  <div>
    {%- for p in livePosts -%} {%- if limit >= 1 and forloop.index > limit -%}
    {%- break -%} {%- endif -%} {%- if p.url == page.url -%} {%- continue -%}
    {%- endif -%}

    <article class="mt-ryt-lg">
      {% if p.data.title != "" and p.data.title != nil and p.data.title !=
      "notitle" and p.data.notitle == nil %}
      <h2 class="mt-0 mb-ryt-xs text-base font-bold font-body leading-snug">
        <a class="no-underline" href="{{p.url}}"> {{ p.data.title }} </a>
      </h2>
      {% endif %} {%- if p.data.abstract -%}
      <p class="my-ryt-xs">{{p.data.abstract}}</p>
      {%- endif -%} {%- if p.data.title == "" or p.data.title == nil or
      p.data.title == "notitle" or p.data.notitle != nil -%}
      <p class="my-ryt-xs">
        {{ p.templateContent | strip_html | strip | truncatewords: 25 , "&nbsp;…
        " }}
        <a href="{{p.url}}">Read more</a>
      </p>
      {% endif %}
      <aside class="{{p.data.starred}}">
        {% include "date-tags.html" posted: p.date tags: p.data.tags notags:
        p.data.notags %}
      </aside>
    </article>
    {%- endfor -%} {%- include "pagination-nav.html" -%}
  </div>
</div>
