{% assign newerPost = collections.liveContent | post | getPreviousCollectionItem: page %}
{% assign olderPost = collections.liveContent | post | getNextCollectionItem: page %}

{%- if newerPost or olderPost -%}
  <nav class="flex flex-col sm:flex-row justify-between gap-ryt-lg my-ryt-xl max-w-rg">
    {% if newerPost %}
      <div class="leading-snug">
        <div class="text-sm whitespace-nowrap">Newer post</div>
        <a
          class="no-underline font-bold"
          id="{{site.navNewer.id}}"
          href="{{ newerPost.url }}">
          {{ newerPost.data.title }}
        </a>
      </div>
    {% endif %}
    {% if olderPost %}
      <div class="leading-snug">
        <div class="text-sm whitespace-nowrap">Older post</div>
        <a
          class="no-underline font-bold"
          id="{{site.navOlder.id}}"
          href="{{ olderPost.url }}">
          {{ olderPost.data.title }}
        </a>
      </div>
    {% endif %}
  </nav>
{%- endif -%}