{%- if pagedItems.pageData.length > 0 -%}
  {%- assign livePosts = pagedItems.pageData -%}
{%- else -%}
  {%- assign livePosts = collections.livePosts -%}
{%- endif -%}
{%- if pagedItems.humanPageNumber > 1 or content == "" -%}
  <div>
    Page {{ pagedItems.humanPageNumber }} / {{ pagedItems.pageCount }}
    {% if pagedItems.tag != "" %}tagged
      <em class="font-mono">{{ pagedItems.tag }}</em>
    {% endif %}
  </div>
{%- endif -%}
<div class="mt-ryt-lg mb-ryt-xl">
  {%- for p in livePosts -%}
    {%- assign currentDate = p.date | humanDate -%}
    {%- if limit == 1 and forloop.index > limit and currentDate != referenceDate -%}
      {%- break -%}
    {%- elsif limit > 1 and forloop.index > limit -%}
      {%- break -%}
    {%- endif -%}
    {%- assign referenceDate = p.date | humanDate -%}

    {%- if p.url == page.url -%}
      {%- continue -%}
    {%- endif -%}

    <article>
      {% if p.data.title != "" and p.data.title != nil and p.data.title != "notitle" and p.data.notitle == nil %}
        <h2 class="mt-ryt-lg mb-0">
          <a class="no-underline" href="{{p.url}}">
            {{ p.data.title }}
          </a>
        </h2>
      {% else %}
        <p>{{ p.templateContent | strip_html | strip | truncatewords: 25
 , "&nbsp;… " }}
          <a href="{{p.url}}">Read more</a>
        </p>
      {% endif %}
      <aside class="{{p.data.starred}}">
        {% include "date-tags.html" posted: p.date tags: p.data.tags notags: p.data.notags %}
      </aside>
    </article>
  {%- endfor -%}
  {%- include "pagination-nav.html" -%}
</div>