{%- if site.search and site.search.url -%}
  {%- if onsubmit == nil or onsubmit == "" -%}
    {%- assign onsubmit = "submitQuery(event);" %}
  {%- endif -%}

  <form
    id='search-form'
    class="max-w-rg"
    onsubmit="{{onsubmit}}">
    <label
      id="search-label"
      for="search-query"
      class="font-bold">Search
      {{ site.name }}
      <div class="flex flex-row">
        <input
          id="search-query"
          name="query"
          {{ autofocus }}
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          type="text"
          suggestion-wrapper-id="autocomplete-search"
          class="grow self-stretch"
          type="text" />
        <input
          type="submit"
          id="search-submit"
          style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;"
          value="Search" />
      </div>
    </label>
    <ul id="autocomplete-search"></ul>
    <fieldset class="mt-ryt-sm">
      <legend class="font-normal">Mulptiple search terms are combined by:</legend>
      <div class="flex flex-row gap-ryt-lg">
        <label class="cc">
          <input
            type="radio"
            id="combine-and"
            name="combine"
            value="AND"
            checked><span>AND</span>
        </label>
        <label class="cc">
          <input
            type="radio"
            id="combine-or"
            name="combine"
            value="OR"><span>OR</span>
        </label>
      </div>
    </fieldset>

    <script>
      function getParameterByName(name, url) {
        let params = (new URL(url || document.location)).searchParams;
        const param = params.get(name);
        return param;
      }
      function splitSearchTerms(query) {
        query = query || document.querySelector('#search-query').value;
        return query.split(/\s+/);
      }

      function searchTermCount(query) {
        let split = splitSearchTerms(query);
        return split.length;
      }
      async function suggest(event, callback) {
        try {
          const query = document.querySelector('#search-query').value;
          const combine = document.querySelector('input[name="combine"]:checked').value;
          let response = await fetch('/api/search-suggest/?query=' + encodeURIComponent(query) + '&combine=' + combine);
          let suggestions = await response.json();
          callback(null, suggestions.map(entry => entry.suggestion));
        } catch (error) {
          callback(error, []);
        }
      }

      function submitQuery(event) {
        if (event) {
          event.preventDefault();
        }
        const query = document.querySelector('#search-query').value;
        const combine = document.querySelector('input[name="combine"]:checked').value;
        if (query && query.trim()) {
          location.href = '{{site.search.url}}' + '?query=' + encodeURIComponent(query.trim()) + '&combine=' + combine;
        } else {
          location.href = '{{site.search.url}}' + '?combine=' + combine;
        }
      }

      addEventListener('DOMContentLoaded', function(event) {
        AutoComplete.init({selector: '#search-query', data: suggest, threshold: 2, onSelect: submitQuery});
      });

      let orField = document.querySelector('#combine-or');
      let andField = document.querySelector('#combine-and');
      andField.addEventListener('change', event => {
        if (searchTermCount() > 1) {
          submitQuery();
        }
      });
      orField.addEventListener('change', event => {
        if (searchTermCount() > 1) {
          submitQuery();
        }
      });
    </script>

  </form>
{%- endif -%}