{%- if noshare == nil -%}
    <style>
        #share-action:hover {
            color: white;
        }
    </style>
    <button id="share-action" class="pd-0 pdx-d2 bg-neutral-5 base-color" style="display:none;">Share</button>
    <script>
        const shareAction = document.getElementById('share-action');
        if (shareAction && navigator.share) {
            shareAction.style.display = 'inline-block';

            shareAction.addEventListener('click', async () => {
                try {
                    await navigator.share({
                        title: '',
                        text: '{{title}}',
                        url: location.href
                    });
                } catch (err) {
                    console.error('Error: ' + err);
                }
            });
        }
    </script>
{%- endif -%}