{%-assign currentTags = collections.usedSiteTags -%}
{%- if pagedItems.tag != nil -%}
  {%-assign tag = pagedItems.tag -%}
{%- endif -%}

{%- if currentTags.length -%}
  <nav class="mrln-d2 mrrn-d2 site-tags">
    <ul class="mry-0 reset">
      {%- if site.tagColors and site.tagColors.length %}
        {%- if tag == "" -%}
          <li class="inline-block mr-d2">
            <span class="pdy-d4 pdx-d2 bg-base-color white rounded no-wrap" aria-current="page">all content</span>
          </li>
        {%- else -%}
          <li class="inline-block mr-d2">
            <a class="pdy-d4 pdx-d2 rounded no-wrap" style="color: inherit;" href="{{site.blog}}">all content</a>
          </li>
        {%- endif -%}
        {%- for siteTag in currentTags -%}
          {%- if siteTag == site.starTag %}
            {%- if tag != siteTag -%}
              <li class="inline-block mr-d2">
                <a class="pdy-d4 pdx-d2 rounded no-wrap" style="color: {{siteTag | tagColor}}" href="{{siteTag | tagUrl}}">{{site.starTagSymbol}}</a>
              </li>
            {%- else -%}
              <li class="inline-block mr-d2" style="background: {{siteTag || tagColor}};">
                <span class="pdy-d4 pdx-d2 rounded no-wrap white" aria-current="page">{{site.starTagSymbol}}</span>
              </li>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
        {%- for siteTag in currentTags -%}
          {%- if siteTag != site.starTag -%}
            {%- if tag != siteTag -%}
              <li class="inline-block mr-d2">
                <a class="pdy-d4 pdx-d2 rounded no-wrap" style="color: {{siteTag | tagColor}}" href="{{siteTag | tagUrl}}">{{siteTag}}</a>
              </li>
            {%- else -%}
              <li class="inline-block mr-d2" style="background: {{siteTag || tagColor}};">
                <span class="pdy-d4 pdx-d2 rounded no-wrap white" aria-current="page">{{siteTag}}</span>
              </li>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- else -%}
        {%- if tag == ""  -%}
          <li class="inline-block mr-d2">
            <span class="bg-neutral-5 pdy-d4 pdx-d2 rounded bg-primary white no-wrap" aria-current="page">all content</span>
          </li>
        {%- else -%}
          <li class="inline-block mr-d2">
            <a class="no-deco pdy-d4 pdx-d2 bg-neutral-5 dk:bg-neutral-d3 rounded no-wrap" href="{{site.blog}}">all content</a>
          </li>
        {%- endif -%}
        {%- for siteTag in currentTags -%}
          {%- if siteTag == site.starTag -%}
            {%- if tag != siteTag -%}
              <li class="inline-block mr-d2">
                <a class="no-deco bg-neutral-5 dk:bg-neutral-d3 pdy-d4 pdx-d2 rounded no-wrap" href="{{siteTag | tagUrl}}">{{site.starTagSymbol}}</a>
              </li>
            {%- else -%}
              <li class="inline-block mr-d2">
                <span class="bg-primary white pdy-d4 pdx-d2 rounded no-wrap" aria-current="page">{{site.starTagSymbol}}</span>
              </li>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
        {%- for siteTag in currentTags -%}
          {%-if siteTag != site.starTag -%}
            {%- if tag != siteTag -%}
              <li class="inline-block mr-d2">
                <a class="no-deco bg-neutral-5 dk:bg-neutral-d3 pdy-d4 pdx-d2 rounded no-wrap" href="{{siteTag | tagUrl}}">{{siteTag}}</a>
              </li>
            {%- else -%}
              <li class="inline-block mr-d2">
                <span class="bg-primary white pdy-d4 pdx-d2 rounded no-wrap" aria-current="page">{{siteTag}}</span>
              </li>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif %}
    </ul>
  </nav>
{%- endif -%}