{%- assign currentTags = collections.liveContent | siteTags -%} {%- if
pagedItems.tag != nil -%} {%- assign tag = pagedItems.tag -%} {%- endif -%} {%-
if currentTags.length -%}
<nav class="max-w-rg sticky top-ryt-lg site-tags">
  {%- if currentTags.length > 1 -%}
  <h2 class="my-0 rg:font-normal text-base">Choose posts by tag</h2>
  <ul class="my-0 -mx-ryt-xs reset">
    {%- if tag == "" -%}
    <li class="inline-block m-ryt-xs">
      <a class="tag current" aria-current="page" href="{{site.blog}}"
        >all posts</a
      >
    </li>
    {%- else -%}
    <li class="inline-block m-ryt-xs">
      <a class="tag" href="{{site.blog}}">all posts</a>
    </li>
    {%- endif -%} {%- for siteTag in currentTags -%} {%- if siteTag ==
    site.starTag -%} {%- if tag != siteTag -%}
    <li class="inline-block m-ryt-xs text-base">
      <a class="tag" href="{{siteTag | tagUrl}}">{{ site.starTagSymbol }}</a>
    </li>
    {%- else -%}
    <li class="inline-block m-ryt-xs text-base">
      <a class="tag current" aria-current="page" href="{{siteTag | tagUrl}}"
        >{{ site.starTagSymbol }}</a
      >
    </li>
    {%- endif -%} {%- endif -%} {%- endfor -%} {%- for siteTag in currentTags
    -%} {%- if siteTag != site.starTag -%} {%- if tag != siteTag -%}
    <li class="inline-block m-ryt-xs">
      <a class="tag" href="{{siteTag | tagUrl}}">#{{ siteTag }}</a>
    </li>
    {%- else -%}
    <li class="inline-block m-ryt-xs">
      <a class="tag current" aria-current="page" href="{{siteTag | tagUrl}}"
        >#{{ siteTag }}</a
      >
    </li>
    {%- endif -%} {%- endif -%} {%- endfor -%}
  </ul>
  {%- endif -%} {%- endif %}
</nav>
