
{%- assign liveContent = collections.livePosts | mustContainTag: tags | reverse -%}

{%- assign prev = liveContent | getNext: page -%}
{%- assign next = liveContent | getPrev: page -%}

{%- if prev != nil or next != nil -%}

{%- if page.shortnav != nil -%}
{%- assign shortnav = page.shortnav -%}
{%- endif -%}

{%- if shortnav == nil -%}
{%- assign topMargin = " mrt-1" -%}
{%- endif -%}

<nav class="clearfix step-navigation small lh-2{{topMargin}}">
    {%- if next  -%}    
    <div class="float-left nowrap truncate">
        <a class="no-deco meta" href="{{ next.url }}">
            {%- if shortnav -%}
            <div><span aria-hidden="true">&lt;&nbsp;</span>newer</div>
            {%- else -%}
            <div>Newer:</div>
            <div>{%- if next.data.title != "notitle" and  next.data.notitle == nil -%}
                {{ next.data.title }}{%- endif -%}</div>
            {%- endif -%}
        </a>
    </div>
    {%- endif -%}

    {%- if prev  -%}    
    <div class="float-right mrl nowrap truncate right">
        <a class="no-deco meta" href="{{ prev.url }}">
            {%- if shortnav -%}
            <div>older<span aria-hidden="true">&nbsp;&gt;</span></div>
            {%- else -%}
            <div>Older:</div>
            <div>{%- if prev.data.title != "notitle" and prev.data.notitle == nil -%}
                {{ prev.data.title }}{%- endif -%}</div>
            {%- endif -%}
        </a>
    </div>
    {%- endif -%}
</nav>

{%- endif -%}