{%- if nostepnav == nil and notags == nil -%}
    {%- assign liveContent = collections.livePosts | mustNotContainLayout: "list,gallery" | mustContainTag: tags | reverse -%}

    {%- assign prev = liveContent | getNext: page -%}
    {%- assign next = liveContent | getPrev: page -%}

    {%- if prev or next -%}

        {%- if shortnav == nil -%}
            {%- assign topMargin = "mrt-2" -%}
        {%- else -%}
            {%- assign bottomMargin = "mrb" -%}
        {%- endif -%}

        <nav class="clearfix step-navigation small lh-2">
            {%- if next  -%}
                <div class="float-left {{topMargin}} {{bottomMargin}}">
                    <a class="no-deco meta" href="{{ next.url }}">
                        <div class="no-wrap">
                            <span aria-hidden="true">&lt;&nbsp;</span>
                            <span>Newer</span>
                        </div>
                        {%- if shortnav == nil and next.data.title != "notitle" and  next.data.notitle == nil-%}
                            <div>
                                {{ next.data.title }}
                            </div>
                        {%- endif -%}
                    </a>
                </div>
            {%- endif -%}

            {%- if prev  -%}
                <div class="float-right mrl right {{topMargin}}">
                    <a class="no-deco meta" href="{{ prev.url }}">
                        <div class="no-wrap">
                            <span>Older</span>
                            <span aria-hidden="true">&nbsp;&gt;</span>
                        </div>
                        {%- if shortnav == nil and prev.data.title != "notitle" and prev.data.notitle == nil-%}
                            <div>
                                {{ prev.data.title }}
                            </div>
                        {%- endif -%}
                    </a>
                </div>
            {%- endif -%}
        </nav>

    {%- endif -%}
{%- endif -%}