{%- if nostepnav == nil and notags == nil -%}
    {%- assign liveContent = collections.liveContent | mustEqualTags: tags | mustNotContainLayout: "list,gallery" | reverse -%}

    {%- assign prev = liveContent | getNext: page -%}
    {%- assign next = liveContent | getPrev: page -%}

    {%- if prev or next -%}

        {%- if shortnav == true -%}
            {%- assign bottomMargin = "mrb" -%}
        {%- else -%}
            {%- assign margin = "mrb-1 pdt-d2" -%}
        {%- endif -%}

        <nav class="clearfix step-nav small lh-2 {{margin}}">
            {%- if next  -%}
                <div class="float-left {{bottomMargin}}">
                    <a class="meta no-deco block" href="{{ next.url }}">
                        <div class="no-wrap">
                            <span aria-hidden="true">&lt;&nbsp;</span>
                            <span>Newer</span>
                        </div>
                        {%- if shortnav == nil and next.data.title != "notitle" and  next.data.notitle == nil-%}
                            <div>
                                {{ next.data.title }}
                            </div>
                        {%- endif -%}
                    </a>
                </div>
            {%- endif -%}

            {%- if prev  -%}
                <div class="float-right mrl right">
                    <a class="meta no-deco block" href="{{ prev.url }}">
                        <div class="no-wrap">
                            <span>Older</span>
                            <span aria-hidden="true">&nbsp;&gt;</span>
                        </div>
                        {%- if shortnav == nil and prev.data.title != "notitle" and prev.data.notitle == nil-%}
                            <div>
                                {{ prev.data.title }}
                            </div>
                        {%- endif -%}
                    </a>
                </div>
            {%- endif -%}
        </nav>

    {%- endif -%}
{%- endif -%}