{%- if tags and notags == nil -%}
    <nav class="meta inline">
        <span> in </span>
        <ul class="reset mry-0 inline">
            {%- for tag in tags -%}
                <li class="inline mrr-d1">
                    {%- if layout == 'image' or layout == 'gallery' %}
                        <a href="/images/{{tag}}/">{{tag}}</a>
                    {%- else -%}
                        <a href="/blog/{{tag}}/">{{tag}}</a>
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ul>
    </nav>
{%- endif -%}