{%- if tags and notags == nil -%}
    <nav class="meta inline">
        <span>tagged</span>
        {% assign sortedTags = tags | sort %}
        <ul class="reset mry-0 inline">
            {%- for tag in sortedTags -%}
                <li class="inline mrr-d1">
                    {%- assign color = tag | tagColor -%}
                    {%- if color != '' -%}
                        <a href="{{tag | tagUrl}}" style="color: {{color}}" class="no-wrap">{{tag}}</a>
                    {%- else -%}
                        <a href="{{tag | tagUrl}}" class="no-wrap">{{tag}}</a>
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ul>
    </nav>
{%- endif -%}