{%- if title != "" and title != nil and title != "notitle" and notitle == nil
-%} {%- assign hasTitle = true -%} {%- endif -%} {%- if tagIntro != "" and
tagIntro != nil -%} {%- assign hasTagIntro = true -%} {%- endif -%} {%- if
tagIntro == "" -%} {%- assign isBlog = true -%} {%- endif -%} {%- if hasTitle ==
true or hasTagIntro == true or isBlog == true or refer or author -%}
<header class="my-ryt-2xl">
  {%- if hasTitle == true -%}
  <h1 class="heror">{{ title }}</h1>
  {%- endif -%} {%- if abstract -%}
  <div class="text-balance my-ryt-xs h2">{{ abstract }}</div>
  {%- endif -%} {%- if refer -%}
  <div class="text-balance my-ryt-xs">{{ refer }}</div>
  {%- elsif author -%}
  <div class="text-balance my-ryt-xs">{{ author }}</div>
  {%- endif -%} {%- if nodate == nil -%}
  <aside class="my-ryt-xs text-sm">{% include "date-tags.html" %}</aside>
  {%- endif -%} {%- include "hero.html" -%}
</header>
{%- endif -%}
