<div class="my-ryt-2xl">
  {%- if topicstitle -%}
  <p>{{topicstitle}}</p>
  {%- endif -%}
  <div class="superheror grid my-ryt-lg gap-ryt-lg grid-cols-1 sm:grid-cols-2">
    {%- for topic in topics -%}
    <section>
      <h2 class="my-0 text-base font-bold font-body">{{topic.title}}</h2>
      <ul class="reset">
        {%- for url in topic.urls -%} {% assign post = collections.liveContent |
        itemFromUrl: url %} {%- if post -%}
        <li class="my-ryt-sm">
          <a href="{{url}}" class="inline-block"
            ><cite class="font-normal text-balance"
              >{{post.data.title}}</cite
            ></a
          >
        </li>
        {%- endif -%} {%- endfor -%}
      </ul>
    </section>
    {%- endfor -%}
  </div>
</div>
