<div class="my-ryt-2xl">
    {%- if topicstitle -%}
    <h2 class="text-base font-normal">{{topicstitle}}</h2>
    {%- endif -%}
    <div
        class="superheror grid my-ryt-lg grid-cols-1 rg:grid-cols-2 gap-ryt-xl"
    >
        {%- for topic in topics -%}
        <section>
            <h3 class="mt-0 mb-ryt text-base font-semibold"">{{topic.title}}</h3>
            <ul class="reset">
                {%- for url in topic.urls -%} {% assign post =
                collections.liveContent | itemFromUrl: url %} {%- if post -%}
                <li class="mt-ryt text-pretty sm:text-balance">
                    <a href="{{url}}"
                        ><cite class="font-normal"
                            >{{post.data.title}}</cite
                        ></a
                    >
                </li>
                {%- endif -%} {%- endfor -%}
            </ul>
        </section>
        {%- endfor -%}
    </div>
</div>
