<!doctype html>
<html
    class="no-js bg-canvas text-write"
    lang="{{site.locale}}"
    dir="{{site.direction}}"
>
    <head>
        {%- include "head.html" -%}
    </head>
    <body
        {{searchControl}}
        class="px-base md:px-xl pt-md pb-xl prose-flow text-base text-pretty"
    >
        <a id="top" class="scroll-mt-base"></a>
        <div class="max-w-screen-xl mx-auto">
            <header class="mb-xl">{%- include "primary-links.html" -%}</header>
            <main>
                {%- if showTitle != false -%} {%- if docType != "bookmark" -%}
                <header class="my-xl">{%- include "title.html" -%}</header>
                {%- else -%}
                <aside
                    class="meta mb-base flex flex-wrap flex-row gap-x-[.5em] gap-y-xs"
                >
                    <div>{{docType | capitalize}}</div>

                    <div class="flex flex-wrap flex-row gap-x-md gap-y-xs">
                        {%- include "dates.html" -%}{%- include "tags.html" -%}
                    </div>
                </aside>
                {%- endif -%} {%- endif -%} {{content}} {%- if postNav != false
                -%}
                <div class="max-w-prose my-xl">
                    {%- include "post-nav.html" -%}
                </div>
                {%- endif -%}
            </main>
            <footer class="mt-xl">
                {%- if searchField != false -%}
                <div class="my-xl">{%- include "search-field.html" -%}</div>
                {%- endif -%} {%- include "secondary-links.html" -%}
            </footer>
        </div>
    </body>
</html>
