<!doctype html>
<html
  class="no-js bg-canvas text-write {{docType}}"
  lang="{{site.locale}}"
  dir="{{site.direction}}"
>
  <head>
    {%- include "head.html" -%}
  </head>
  <body
    {{searchControl}}
    class="px-base md:px-xl lg:px-2xl pt-md pb-xl prose-flow text-base break-long-words"
  >
    <a id="top" class="scroll-mt-md"></a>
    <header>{%- include "primary-links.html" -%}</header>

    <main class="max-w-screen-xl mx-auto">
      {%- if showTitle != false -%} {%- if docType != "bookmark" -%}
      <header class="my-2xl">{%- include "title.html" -%}</header>
      {%- else -%}
      <aside
        class="meta flow-b flex flex-wrap flex-row gap-x-sm gap-y-xs mt -2xl"
      >
        <span>{{docType | capitalize}}</span>

        <span class="flex flex-wrap flex-row gap-x-md gap-y-xs">
          {%- include "dates.html" -%}{%- include "tags.html" -%}
        </span>
      </aside>
      {%- endif -%} {%- endif -%}
      <div class="content">{{content}}</div>
      {%- if postNav != false -%} {%- include "post-nav.html" -%} {%- endif -%}
    </main>
  </body>
</html>
