---
pagination:
    data: collections.imagesByTag
    size: 1
    alias: tagPath
permalink: "/gallery{{ tagPath }}"
search: false
postNav: false
showTitle: false
layout: default
---

{%- assign gallery = collections.imagesByTag[tagPath] -%} {%- assign tag =
collections.imagesByTag[tagPath].tag -%} {{content}}{{gallery.tagIntro}}

<div
    class="grid grid-masonry gap-xl my-xl grid-cols-1 md:grid-cols-2 xl:grid-cols-3"
>
    {%- for image in gallery.items -%}
    <a href="{{image.url}}" class="no-underline">
        <figure class="m-0">
            <img src="{{image.src}}" />
            {%- if image.title -%}
            <figcaption>{{image.title}}</figcaption>
            {%- endif -%}
        </figure>
    </a>
    {%- endfor -%}
</div>

<div class="my-xl">
    <div class="mb-base h2">Choose posts by tag</div>
    {%- include "site-tags.html" currentTag: tag-%}
</div>
