:root {
    --mermaid-font-family: system-ui, sans-serif !important;
    --cluster-canvas: #3b3b3b;

    @supports (color: light-dark(black, white)) {
        color-scheme: light dark;
        --cluster-canvas: light-dark(#eaeaea, #3b3b3b);
    }
}

.mermaid svg {
    background-color: transparent !important;
}

.mermaid .main rect.background {
    fill: var(--canvas) !important;
}

.mermaid .cluster > rect {
    stroke: var(--write) !important;
    fill: var(--cluster-canvas) !important;
}

.mermaid .nodeLabel p {
    color: #262626;
}

.mermaid .cluster-label .nodeLabel p {
    color: var(--write);
}

.mermaid .chart-title text,
.mermaid .title text,
.mermaid .legend text,
.mermaid text.legend,
.mermaid .label text,
.meramid text.label,
.memaid .labelText text,
.mermaid text.labelText,
.mermaid .messageText,
.mermaid .pieTitleText,
.mermaid .titleText,
.mermaid .sectionTitle,
.mermaid .loopText > *,
.mermaid .edgeLabel text,
.mermaid .edgeLabels text {
    fill: var(--write) !important;
}

.mermaid .labelBkg {
    background: #d7ffb3;
}

.mermaid .sequenceNumber {
    fill: var(--canvas) !important;
}

.mermaid .edgePath path,
.mermaid .edgePaths path,
.mermaid .edge path,
.mermaid .messageLine0,
.mermaid .messageLine1 {
    stroke: var(--write) !important;
}

.mermaid #sequencenumber,
.mermaid #arrowhead path,
.mermaid .marker path {
    fill: var(--write) !important;
    stroke: transparent !important;
}

.mermaid .section {
    fill: #c4e0ff !important;
}

.mermaid .axis-line,
.mermaid .axisl-line,
.mermaid .tick line,
.mermaid .axis-line path,
.mermaid .axisl-line path {
    stroke: var(--write) !important; /* Axis line color */
}

svg[id^="mermaid-"][aria-roledescription="gantt"] [class^="taskTextOutside"],
svg[id^="mermaid-"][aria-roledescription="gantt"] [class^="doneText"],
.mermaid .tick text,
.mermaid .axis text {
    fill: var(--write) !important;
}

svg[aria-roledescription="journey"] line {
    stroke: var(--write) !important;
}

svg[aria-roledescription="journey"] > text {
    fill: var(--write) !important;
}

svg[id^="mermaid-"] [class^="section-"] path,
svg[id^="mermaid-"] [class^="section-"] circle,
svg[id^="mermaid-"] [class^="section-"] polygon,
svg[id^="mermaid-"] [class^="section-"] rect,
svg[id^="mermaid-"] [class^="section-"] stroke {
    fill: #b3d7ff !important;
}
