:root {
    --base-font-size: 18px;
    --font-size-breakpoint-sm: 18px;
    --font-size-breakpoint-rg: 19px;
    --font-size-breakpoint-md: 20px;
    --font-size-breakpoint-lg: 21px;
    --font-family: 'iA Writer Quattro', sans-serif;
    --figcaption-font-family: 'iA Writer Quattro', sans-serif;
    --heading-font-family: 'iA Writer Quattro', sans-serif;
    --form-font-family: 'iA Writer Quattro', sans-serif;
    --meta-font-family: 'iA Writer Quattro', sans-serif;
    --mono-font-family: 'iA Writer Quattro', monospace;
    --font-weight-bold: 600;
    --space-factor: 1.75;
    --heading-letter-spacing: 0;
    --meta-color: var(--base-color);
    --fs-mono: .95rem;
    --fs-h1: var(--fs-2);
    --fs-h2: var(--fs);
    --fs-h3: var(--fs);
    --fs-h4: var(--fs);
    --pre-background: var(--neutral-5);
    --kbd-background: var(--neutral-5);
    --link-focus-color: var(--primary-d1);
    --regular-width: 35rem;
    --hr-content: "*  *  *";
}

body>header,
main,
body>footer {
    max-width: var(--regular-width);
    margin-left: auto;
    margin-right: auto;
}

p,
ul,
ol,
dl,
h2,
h3,
h4,
h5,
h6,
td,
caption,
figcaption,
blockquote,
hr {
    max-width: var(--regular-width);
}

code {
    letter-spacing: 3px;
}

pre code {
    letter-spacing: unset;
}

button,
input[type=submit],
input[type=reset] {
    transition: color .1s ease-out;
    transition: background-color .1s ease-out;
}

img {
    display: block;
    background-color: var(--neutral-5);
}

img+img {
    margin-top: var(--space-2);
}

nav ul li {
    margin-right: var(--space);
}

nav ul li:last-child {
    margin-right: 0;
}


/* markdown-it toc */

.anchor {
    text-decoration: none;
    font-weight: normal;
    font-size: var(--fs);
    color: var(--neutral);
    display: none;
}

h1:hover>.anchor,
h2:hover>.anchor,
h3:hover>.anchor,
h4:hover>.anchor,
h5:hover>.anchor,
h6:hover>.anchor {
    display: inline;
}


/*
h2::before {
    content: var(--h2-counter);
    color: var(--neutral);
    min-width: var(--horizontal-rhythm);
    margin-left: calc(var(--horizontal-rhythm) * -1);
    display: inline-block;
    font-weight: normal;
    font-size: larger;
}

h3::before {
    content: var(--h3-counter);
    color: var(--neutral);
    min-width: var(--horizontal-rhythm);
    margin-left: calc(var(--horizontal-rhythm) * -1);
    display: inline-block;
    font-weight: normal;
    font-size: larger;
}
*/

nav.table-of-contents {
    margin: var(--vertical-rhythm) 0;
}

nav.table-of-contents a {
    text-decoration: none;
}

nav.table-of-contents>* {
    margin-top: 0;
    margin-bottom: 0;
}

nav.table-of-contents li::before {
    color: var(--neutral);
    content: var(--h-counter);
    font-weight: normal;
    font-size: inherit;
}


/*markdown-it fitmedia*/

.fit-media {
    background: var(--neutral-5);
}


/* markdown-it scrolltable */

.scroll-table {
    margin-top: var(--mrt-table);
    margin-bottom: var(--mrb-table);
}

.scroll-table>table {
    margin-top: 0;
    margin-bottom: 0;
}


/* markdown-it footnotes */

hr.footnotes-sep {
    width: var(--space-3);
    margin-right: auto;
    margin-left: 0;
    border: 1px solid var(--base-color);
    margin-top: var(--space-2);
}

hr.footnotes-sep::after {
    content: unset;
}

.footnote-ref a,
.footnote-backref {
    text-decoration: none;
}

.footnotes-list {
    counter-reset: footnote-counter;
}

.footnotes-list :target {
    outline: var(--outline);
    outline-offset: var(--outline-offset);
}

.footnotes-list li {
    counter-increment: footnote-counter;
}

.footnotes-list li::before {
    content: counter(footnote-counter);
    font-weight: normal;
    vertical-align: super;
}

.skip-link {
    padding: var(--space-2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform .3s ease-out;
    background: var(--link-focus-color);
    color: var(--base-background);
    font-family: var(--meta-font-family);
    text-align: center;
}

.skip-link a {
    color: var(--base-background);
    outline-color: var(--base-background);
}

.skip-link:focus-within {
    transform: translateY(0);
}

@media (--max-md) {
    blockquote,
    ul,
    ol {
        margin-left: var(--horizontal-rhythm);
    }
    /*
    h2::before,
    h3::before {
        margin-left: 0;
    }*/
    .full-bleed {
        padding: 0 var(--space);
    }
}

@media (--md) {
    body>header>*,
    body>footer>*,
    main>figure,
    main>.scroll-table {
        margin-right: calc(-0.5 * (100vw - var(--regular-width)) + var(--space-2));
        max-width: var(--mid-width);
    }
    main>header {
        max-width: calc(var(--mid-width) + var(--horizontal-rhythm));
        margin-left: calc(-1 * var(--horizontal-rhythm));
        margin-right: calc(-0.5 * (100vw - var(--regular-width)) + var(--space-2));
    }
    main .gallery {
        margin: 0 calc(-0.5 * (100vw - var(--regular-width)) + var(--space-2));
    }
    .full-bleed {
        padding: 0 var(--space-2);
    }
}

@media (--touch-device) {
    nav {
        line-height: var(--lh-4);
    }
}