:root {
    --base-font-size: 19px;
    --font-size-sm-breakpoint: 19px;
    --font-size-rg-breakpoint: 20px;
    --font-size-md-breakpoint: 20px;
    --font-size-lg-breakpoint: 21px;
    --font-family: 'iA Writer Quattro', sans-serif;
    --figcaption-font-family: 'iA Writer Quattro', sans-serif;
    --heading-font-family: 'iA Writer Quattro', sans-serif;
    --form-font-family: 'iA Writer Quattro', sans-serif;
    --meta-font-family: 'iA Writer Quattro', sans-serif;
    --mono-font-family: 'iA Writer Quattro', monospace;    
    --font-weight-bold: 600;
    --fs-h1: var(--fs-3);
    --fs-h2: var(--fs-1);
    --fs-h3: var(--fs);
    --fs-h4: var(--fs);
}

@custom-media --outdent-breakpoint (min-width: 801px);
@custom-media --outdent-outline-breakpoint (min-width: 900px);


p:not(blockquote p),
td,
ul,
ol,
dl,
caption,
figcaption,
h2,
h3,
h4,
h5,
h6 {
    max-width: var(--rg-width);
}

header h2 {
    max-width: unset;
}

button,
input[type=submit],
input[type=reset] {
    transition: color var(--transition-duration) ease-out, background-color var(--transition-duration) ease-out;
}

img+img {
    margin-top: var(--space-2);
}

nav ul li {
    margin-right: var(--space);
}

nav ul li:last-child {
    margin-right: 0;
}

main>div>pre {
    width: auto;
    margin-right: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
}

.article main>div>p:first-of-type::first-letter {
    font-size: 3.65rem;
    /*was 5.95rem for 3 lines*/
    font-weight: bold;
    float: left;
    line-height: .65;
    padding: var(--space-d2) var(--space-d2) 0 0;
}


/* markdown-it toc */

.anchor {
    text-decoration: none;
    font-weight: normal;
    font-size: var(--fs);
    color: var(--neutral);
}

nav.table-of-contents::before {
    content: "Contents";
    display: block;
    font-weight: bold;
}

nav.table-of-contents {
    margin: var(--space-3) 0;
}

nav.table-of-contents a {
    text-decoration: none;
}

nav.table-of-contents>* {
    margin-top: 0;
    margin-bottom: 0;
}

nav.table-of-contents:not(.outline nav.table-of-contents)>* {
    padding: 0;
}

nav.table-of-contents ol li::before {
    content: "";
}

.outline nav.table-of-contents ol li::before {
    content: var(--h-counter);
}

nav.table-of-contents:not(.outline nav.table-of-contents) ol li::before {
    min-width: 0!important;
    margin: 0 !important;
    padding: 0 !important;
}


/*markdown-it fitmedia*/

.fit-media {
    background: var(--neutral-5);
}


/* markdown-it scrolltable */

.scroll-table {
    margin-top: var(--mrt-table);
    margin-bottom: var(--mrb-table);
}

.scroll-table>table {
    margin-top: 0;
    margin-bottom: 0;
}


/* markdown-it footnotes */

hr.footnotes-sep {
    width: var(--space-3);
    margin-right: auto;
    margin-left: 0;
    border-top: var(--blockquote-border-width) solid var(--li-prefix-color);
    margin-top: var(--mrt-h2);
    margin-bottom: var(--mrb-h2);
}

hr.footnotes-sep::after {
    content: "Footnotes";
    font-weight: normal;
    font-size: var(--fs);
    white-space: nowrap;
    word-break: keep-all;
}

.footnote-ref a,
.footnote-backref {
    text-decoration: none;
}

.footnotes-list {
    counter-reset: footnote-counter;
    margin: 0;
}

.footnotes-list :target {
    outline: var(--outline);
    outline-offset: var(--outline-offset);
}

.footnotes-list li {
    counter-increment: footnote-counter;
}

.footnotes-list li::before {
    content: counter(footnote-counter);
}

.footnotes-list li>p {
    display: inline;
}

/* markdown-it-cooklang */

ul[class^=cooklang-]>li::before {
    content: "▢";
}

.cooklang-ingredients .amount-and-unit {
    font-weight: bold;
    display: inline-block;
}

.skip-link {
    padding: var(--space-2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform .3s ease-out;
    background: transparent;
    color: white;
    font-family: var(--meta-font-family);
    text-align: center;
}

.skip-link a {
    color: white;
    outline-color: white;
}

.skip-link:focus-within {
    background: var(--primary);
    transform: translateY(0);
}

#image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--space-5), 1fr));
}

.image .date-tags {
    margin-bottom: var(--vertical-rhythm-plus);
}

.image main * {
    font-family: var(--meta-font-family);
}

[class*="bleed"]>img {
    width: 100%;
    max-height: unset;
    height: unset;
}

@media print {
    .anchor {
        display: none;
    }
}

