/* ibm-plex-serif-regular - latin */
@font-face {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/ibm-plex-serif-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/ibm-plex-serif-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */    
    font-display: swap;
  }

  /* ibm-plex-serif-italic - latin */
  @font-face {
    font-family: 'IBM Plex Serif';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/ibm-plex-serif-v8-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/ibm-plex-serif-v8-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;         
  }
  /* ibm-plex-serif-700 - latin */
  @font-face {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/ibm-plex-serif-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/ibm-plex-serif-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;        
  }
  /* ibm-plex-serif-700italic - latin */
  @font-face {
    font-family: 'IBM Plex Serif';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/ibm-plex-serif-v8-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/ibm-plex-serif-v8-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;         
  }

/* ibm-plex-sans-200 - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/ibm-plex-sans-v7-latin-200.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/ibm-plex-sans-v7-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;    
}
/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ibm-plex-sans-v7-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/ibm-plex-sans-v7-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;    
}
/* ibm-plex-sans-italic - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/ibm-plex-sans-v7-latin-italic.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/ibm-plex-sans-v7-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* ibm-plex-sans-700 - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ibm-plex-sans-v7-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/ibm-plex-sans-v7-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* ibm-plex-sans-700italic - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/ibm-plex-sans-v7-latin-700italic.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/ibm-plex-sans-v7-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;    
}

/* ibm-plex-mono-italic - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/ibm-plex-mono-v5-latin-italic.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/ibm-plex-mono-v5-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;    
}
/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ibm-plex-mono-v5-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/ibm-plex-mono-v5-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;    
}
/* ibm-plex-mono-700 - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ibm-plex-mono-v5-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/ibm-plex-mono-v5-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;    
}
/* ibm-plex-mono-700italic - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/ibm-plex-mono-v5-latin-700italic.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/ibm-plex-mono-v5-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;    
}
