:root {
  --bleed: max(
    -1 * (theme(space.md) - theme(space.rg)),
    -0.5 * (100vw - theme(space.rg)) + theme(space.ryt)
  );
}

@layer utilities {
  .no-js .no-js-hidden {
    display: none;
  }

  .indent:not(.indent .no-indent) {
    p + p {
      @apply my-0 indent-ryt-lg;
    }
  }

  .no-indent:not(.no-indent .indent) {
    p + p {
      @apply mt-ryt indent-0;
    }
  }

  .outline-indicator {
    @apply outline-outline outline-4 outline-offset-2 outline;
  }

  /* split */
  .split {
    grid-template-columns: repeat(2, 1fr);
    @apply grid gap-ryt-lg;
  }

  .split > * {
    @apply m-0;
  }

  @media (min-width: theme(screens.rg)) {
    .hero,
    .bleed {
      margin-left: var(--bleed);
      margin-right: var(--bleed);

      img {
        @apply object-center mx-auto;
      }
    }
    .herol,
    .bleedl {
      margin-left: var(--bleed);
    }
    .heror,
    .bleedr {
      margin-right: var(--bleed);
    }
  }
}
