@layer components {
    /*auto complete */
    ul.auto-complete-suggestion {
        @apply reset border border-meta absolute z-10 w-full m-0;

        &::after {
            content: "";
            @apply absolute -bottom-ryt-xl h-ryt-xl w-1;
        }

        > li {
            @apply px-ryt-xs py-ryt-sm leading-tight bg-field-light dark:bg-field-dark cursor-pointer font-normal;
        }
        > li::before {
            @apply hidden;
        }
        > li:hover,
        > li[aria-selected="true"] {
            @apply bg-primary text-white;
        }
    }

    /* demo box */
    .demo-box {
        @apply border border-meta max-w-rg p-ryt;

        &::before {
            content: "Demo";
            @apply font-body text-sm absolute;

            margin-top: calc(
                -1 *
                    (
                        theme(spacing.ryt) + theme(spacing.ryt) +
                            theme(spacing.ryt-xs)
                    )
            );
            margin-left: calc(-1 * (theme(spacing.ryt) + 1px));
        }
    }

    /* table of contents */
    /* markdown-it toc */

    .heading-anchor {
        @apply no-underline;
    }

    .table-of-contents {
        @apply my-ryt-lg;

        &::before {
            content: "Contents";
            @apply text-sm font-mono;
        }

        a {
            @apply no-underline;
        }

        > ol {
            @apply rg:-ml-ryt-lg my-0;
        }

        ol > li > ol {
            @apply hidden;
        }
    }

    /*scroll-table*/

    .scroll-table {
        @apply my-ryt-lg;
        table {
            @apply my-0;
        }
    }

    /* sotable */

    table.sotable {
        button.sotable.restore,
        button.sotable.column {
            @apply font-bold p-0 m-0 text-inherit text-left bg-transparent;
        }
        button.sotable.column .indicator {
            @apply ml-ryt-sm text-sm;
        }

        caption > * + .indicator {
            @apply !mt-ryt;
        }
    }

    /* tags */
    .site-tags {
    }

    .tag:not(pre code .tag) {
        @apply text-sm no-underline px-ryt-xs py-ryt-2xs border border-current rounded whitespace-nowrap hover:bg-primary hover:border-primary hover:text-white hover:brightness-110;
    }
    .tag.current:not(pre code .tag) {
        @apply px-ryt-xs py-ryt-2xs bg-primary border-primary text-white whitespace-nowrap;
    }

    .outdent-short-text {
        margin-left: -10em;
        width: 10em;

        @apply pr-ryt-lg align-baseline sticky top-ryt float-left text-right;
    }

    .line-list {
        /* Pixel based calculations refer to a line list width of 1px */
        @apply reset border-l-[1px] border-current !pl-[calc(theme(spacing.ryt-lg)-1px)];
    }

    .line-list.marker {
        & > li::before,
        & > dt::before {
            content: "";
            @apply w-ryt-sm h-ryt-sm inline-block rounded-full bg-current -ml-[calc(theme(spacing.ryt-lg)+theme(spacing.ryt-sm)/2-.5px)] mr-[calc(theme(spacing.ryt-lg)-theme(spacing.ryt-sm)/2+.5px)];
        }
    }

    /* mr-[calc(theme("spacing.ryt-lg")-theme("spacing.ryt-sm")+theme("spacing.ryt-sm")/2)]*/

    /* PrismJS 1.29.0*/
    pre[data-language]:not([data-language=""]) {
        &::before {
            content: attr(data-language);
            @apply font-sans mb-ryt-sm inline-block text-sm border-b-2 border-current pr-ryt;
        }
    }

    pre[data-language] {
        & > code {
            @apply whitespace-pre block overflow-x-auto;
        }
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        @apply text-green-700 dark:text-green-500;
        font-style: italic;
    }

    .token.string,
    .token.attr-value {
        @apply text-amber-700 dark:text-amber-400;
    }

    .token.punctuation,
    .token.operator {
        @apply text-orange-700 dark:text-orange-400;
    }

    .token.entity,
    .token.url,
    .token.symbol,
    .token.number,
    .token.boolean,
    .token.variable,
    .token.constant,
    .token.property,
    .token.regex,
    .token.inserted {
        @apply text-cyan-700 dark:text-cyan-400;
    }

    .token.atrule,
    .token.keyword,
    .token.attr-name,
    .language-autohotkey .token.selector {
        @apply text-cyan-700 dark:text-cyan-400;
    }

    .token.function,
    .token.deleted,
    .language-autohotkey .token.tag {
        @apply text-red-700 dark:text-red-400;
    }

    .token.tag,
    .token.selector,
    .language-autohotkey .token.keyword {
        @apply text-sky-700 dark:text-sky-400;
    }

    .token.important,
    .token.bold {
        font-weight: bold;
    }

    .token.italic {
        font-style: italic;
    }

    /* markdown-it footnotes */

    hr.footnotes-sep {
        @apply hidden;
    }

    .footnote-ref a,
    .footnote-backref {
        @apply no-underline;
    }

    ol.footnotes-list {
        counter-reset: footnote-counter;
    }

    ol.footnotes-list::before {
        content: "Footnotes";
        @apply h2 mb-ryt block;
    }

    ol.footnotes-list li {
        counter-increment: footnote-counter;
        @apply relative;
    }

    ol.footnotes-list li::before {
        content: counter(footnote-counter);
        @apply normal-nums font-normal;
    }

    ol.footnotes-list li > p {
        @apply inline;
    }

    main > section > ol.footnotes-list {
        @apply rg:-ml-ryt-lg;
    }

    main > section > ol.footnotes-list:before {
        @apply rg:pl-ryt-lg;
    }

    /* cooklang */
    ul[class^="cooklang-"] > li::before {
        content: "＿";
    }

    .cooklang-ingredients .amount-and-unit {
        @apply font-bold inline-block;
    }

    /* eleventy embed tweet */
    blockquote.tweet-card {
        @apply font-normal not-italic text-base font-body border-light overflow-x-auto max-w-rg;

        &::before,
        &::after {
            display: none;
        }

        .tweet-author-name,
        .tweet-author-handle {
            @apply break-all;
        }
    }

    /* lite youtube */
    .lty-playbtn:active,
    .lty-playbtn:focus {
        outline-width: 0px !important;
    }
}
