@layer components {
  /*auto complete */
  ul.auto-complete-suggestion {
    @apply reset border border-meta absolute z-10 w-full m-0;

    &::after {
      content: "";
      @apply absolute -bottom-ryt-xl h-ryt-xl w-1;
    }

    > li {
      @apply px-ryt-xs py-ryt-sm leading-tight bg-field-light dark:bg-field-dark cursor-pointer font-normal;
    }
    > li::before {
      @apply hidden;
    }
    > li:hover,
    > li[aria-selected="true"] {
      @apply bg-primary text-white;
    }
  }

  /* demo box */
  .demo-box {
    @apply border border-current max-w-rg p-ryt;

    &::before {
      content: "Demo";
      @apply font-body text-sm absolute;

      margin-top: calc(
        -1 * (theme(spacing.ryt) + theme(spacing.ryt) + theme(spacing.ryt-xs))
      );
      margin-left: calc(-1 * (theme(spacing.ryt) + 1px));
    }
  }

  /* table of contents */
  /* markdown-it toc */

  .heading-anchor {
    @apply no-underline;
  }

  .table-of-contents {
    @apply my-ryt-xl;

    &::before {
      content: "Contents";
      @apply block font-bold;
    }

    a {
      @apply no-underline;
    }

    > ol {
      @apply m-0 p-0;
    }

    ol > li {
      @apply p-0 my-ryt-sm leading-tight;
    }

    ol > li::before {
      @apply hidden content-none;
    }

    ol > li > ol {
      @apply hidden;
    }
  }

  /*scroll-table*/

  .scroll-table {
    @apply my-ryt-xl;
    table {
      @apply my-0;
    }
  }

  /* sotable */

  table.sotable {
    button.sotable.restore,
    button.sotable.column {
      @apply font-bold p-0 m-0 text-inherit bg-transparent;
    }
    button.sotable.column .indicator {
      @apply ml-ryt-sm text-sm;
    }
  }

  /* tags */
  nav .tag {
    @apply no-underline px-ryt-xs py-ryt-2xs  bg-light dark:bg-light-dark whitespace-nowrap;
  }
  nav .tag.current {
    @apply px-ryt-xs py-ryt-2xs  bg-primary text-white whitespace-nowrap;
  }

  /* image container */
  #image-container {
    @apply grid gap-x-ryt-xl gap-y-ryt-lg mt-ryt-2xl mb-ryt-xl;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: masonry;
  }

  /* PrismJS 1.29.0*/
  pre[data-language] {
    @apply mt-ryt-xl;
    &::before {
      content: attr(data-language);
      @apply font-body text-sm absolute px-ryt-2xs text-white bg-write-dark dark:text-write-dark dark:bg-write-light;
      margin-top: calc(-1 * (theme(spacing.ryt) + theme(spacing.ryt-sm)));
    }
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    @apply text-amber-700 dark:text-amber-500;
    font-style: italic;
  }

  .token.string,
  .token.attr-value {
    @apply text-green-700 dark:text-green-400;
  }

  .token.punctuation,
  .token.operator {
    @apply text-orange-700 dark:text-orange-400;
  }

  .token.entity,
  .token.url,
  .token.symbol,
  .token.number,
  .token.boolean,
  .token.variable,
  .token.constant,
  .token.property,
  .token.regex,
  .token.inserted {
    @apply text-cyan-700 dark:text-cyan-400;
  }

  .token.atrule,
  .token.keyword,
  .token.attr-name,
  .language-autohotkey .token.selector {
    @apply text-cyan-700 dark:text-cyan-400;
  }

  .token.function,
  .token.deleted,
  .language-autohotkey .token.tag {
    @apply text-red-700 dark:text-red-400;
  }

  .token.tag,
  .token.selector,
  .language-autohotkey .token.keyword {
    @apply text-sky-700 dark:text-sky-400;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  /* markdown-it footnotes */

  hr.footnotes-sep {
    @apply hidden;
  }

  .footnote-ref a,
  .footnote-backref {
    @apply no-underline;
  }

  ol.footnotes-list {
    counter-reset: footnote-counter;
  }

  ol.footnotes-list::before {
    content: "Footnotes";
    @apply h2 mt-ryt-xl mb-ryt block;
  }

  ol.footnotes-list li {
    counter-increment: footnote-counter;
    @apply relative;
  }

  ol.footnotes-list li::before {
    content: counter(footnote-counter);
    font-size: 75%;
    line-height: 0;
    top: -0.5em;
    @apply relative normal-nums font-bold;
  }

  ol.footnotes-list li > p {
    @apply inline;
  }

  main > section > ol.footnotes-list {
    @apply rg:-ml-ryt-lg;
  }

  main > section > ol.footnotes-list:before {
    @apply rg:pl-ryt-lg;
  }

  /* cooklang */
  ul[class^="cooklang-"] > li::before {
    content: "＿";
  }

  .cooklang-ingredients .amount-and-unit {
    @apply font-bold inline-block;
  }

  /* eleventy embed tweet */
  blockquote.tweet-card {
    @apply font-normal not-italic text-base font-body border-light overflow-x-auto max-w-rg;

    &::before,
    &::after {
      display: none;
    }

    .tweet-author-name,
    .tweet-author-handle {
      @apply break-all;
    }
  }

  #back-to-start {
    a:hover,
    a:focus,
    a:active {
      @apply text-current;
    }
  }

  .comment-list article * {
    @apply no-indent m-0 !important;
  }
}
