@layer base {
  /* reset
   * This reset is influenced by https://www.joshwcomeau.com/css/custom-css-reset/
   */

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  :root {
    --sb-size: 16px;

    @media (prefers-color-scheme: light) {
      --sb-track-color: transparent;
      --sb-thumb-color: theme(colors.write.dark);
    }

    @media (prefers-color-scheme: dark) {
      --sb-track-color: transparent;
      --sb-thumb-color: theme(colors.write.bright);
    }
  }

  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }

  ::-webkit-scrollbar {
    width: var(--sb-size);
  }

  ::-webkit-scrollbar-track {
    background: var(--sb-track-color);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
  }

  /* focus */
  *:focus {
    @apply outline-none;
  }
  *:focus-visible:not(disabled) {
    @apply outline-indicator;
  }

  ::selection {
    @apply bg-primary-light text-white;
  }

  @view-transition {
    navigation: auto; /* required to enable cross-document view transitions*/
  }

  ::view-transition-old(main) {
    animation: fade 0.2s linear forwards;
  }

  ::view-transition-new(main) {
    animation: fade 0.4s linear reverse;
  }

  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  html {
    height: 100%;
    scroll-behavior: smooth;
    /*https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/*/
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  @media (prefers-reduced-motion) {
    html {
      scroll-behavior: auto;
    }
  }

  img,
  picture,
  svg {
    height: auto;
    max-width: 100%;
    display: inline-block;
  }

  iframe,
  canvas {
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  body {
    @apply text-write-dark dark:text-write-light dark:bg-back-dark bg-back-light text-base h-full;
  }

  /* links */
  a {
    @apply underline hover:underline;
  }
  a:hover,
  a:active {
    @apply mode-text-primary;
  }

  /* headings */
  h1,
  .h1 {
    @apply font-display rg:text-balance break-after-avoid font-bold leading-snug tracking-normal text-xl sm:text-2xl;
  }

  h2,
  .h2 {
    @apply font-display mt-ryt-2xl mb-ryt rg:text-balance break-after-avoid font-normal leading-snug tracking-normal text-lg;
  }

  h3,
  .h3 {
    @apply font-display mt-ryt-xl mb-ryt rg:text-balance break-after-avoid font-bold leading-snug tracking-normal text-base;
  }

  h4,
  h5,
  h6,
  .h4,
  .h5,
  .h6 {
    @apply font-display mt-ryt-xl mb-ryt-lg rg:text-balance break-after-avoid text-base font-bold leading-snug tracking-normal;
  }

  details > summary {
    @apply hover:mode-text-primary cursor-pointer list-none;
  }

  details > summary::-webkit-details-marker {
    @apply hidden;
  }

  details > summary::before {
    @apply rg:absolute rg:-ml-ryt-lg rg:w-ryt-lg rg:block not-italic font-semibold;
    content: "+";
  }
  details[open] > summary::before {
    content: "–";
  }

  /* typography */
  cite {
    @apply font-bold not-italic;
  }

  mark,
  .mark {
    @apply bg-mark text-write-dark;
  }

  /* dl */

  dl {
    @apply my-ryt mx-0 p-0;
  }

  dt {
    @apply font-bold;
  }

  dd {
    @apply pl-ryt-lg;
  }

  dd + dt,
  dt + dt {
    @apply mt-ryt;
  }

  /* ul, ol */
  ol,
  ul {
    @apply my-ryt mx-0 list-none p-0;
  }

  li > ol,
  li > ul {
    @apply my-0;
  }

  li {
    @apply pl-ryt-lg m-0 p-0;
  }

  li > p:first-child {
    @apply inline;
  }

  li > ol {
    counter-reset: ol-counter;
  }

  ol > li {
    counter-increment: ol-counter;
  }

  ol > li::before {
    content: counters(ol-counter, ".", decimal) ". ";
    @apply text-smaller -ml-ryt-lg inline-block min-w-ryt-lg whitespace-nowrap font-bold tabular-nums;
  }

  ol > li > ol > li::before {
    content: counters(ol-counter, ".", decimal) " ";
  }

  ul > li::before {
    content: "●" " ";
    @apply -ml-ryt-lg min-w-ryt-lg inline-block whitespace-nowrap not-italic;
  }

  main > ul,
  main > ol {
    @apply rg:-ml-ryt-lg;
  }

  ul.reset,
  ol.reset {
    @apply my-0 list-none p-0;

    > li {
      @apply p-0;
    }

    > li::before {
      content: "";
      @apply hidden;
    }
  }

  /*vertical rhythm*/

  img + img,
  picture + picture {
    @apply mt-ryt-lg;
  }

  p {
    @apply my-0 indent-0;
  }

  p + p {
    @apply my-ryt;
  }

  /* img */
  img {
    @apply object-contain object-left dark:brightness-90 dark:contrast-125 dark:filter;
  }

  img:not(.hero img):not(.heror img):not(.herol img) {
    @media (min-width: theme(screens.sm)) {
      max-height: 80vh;
    }
  }

  /* hr */
  hr {
    @apply max-w-rg my-ryt-xl flex justify-center border-0;
  }

  hr::before {
    content: "* * *";
    @apply max-w-rg -mt-ryt block;
  }

  /* table */
  table {
    @apply my-ryt-xl border-collapse border-y border-y-meta;

    caption {
      @apply py-ryt-sm no-indent text-left;
    }

    th {
      @apply py-ryt-sm pr-ryt-sm text-left align-baseline font-bold leading-tight;
    }

    td {
      @apply py-ryt-sm pr-ryt-sm text-left align-baseline font-normal leading-tight;
    }

    thead {
      th,
      td {
        @apply align-bottom;
      }
    }

    th + th,
    td + td {
      @apply pl-ryt-sm;
    }

    th {
      @apply mt-ryt;
    }
  }

  main > .scroll-table,
  main > table,
  main > pre {
    @apply heror;
  }

  figure {
    @apply my-ryt-xl;

    figcaption {
      @apply max-w-rg my-ryt-sm rg:text-balance font-mono text-sm;
    }
  }

  figure:not(figure figure):not(main * figure):has(iframe, video) {
    @apply max-sm:-mx-ryt;

    figcaption {
      @apply max-sm:mx-ryt;
    }
  }

  /* quote */

  q {
    @apply italic;
    quotes: "„" "“" "‘" "’";
  }

  blockquote {
    padding-left: calc(theme(spacing.ryt-lg) - theme(borderWidth.2));
    @apply my-ryt-xl border-l-2 border-l-current;
  }

  blockquote > header,
  blockquote > footer {
    @apply my-ryt-sm rg:text-balance font-mono text-sm;
  }

  @media (min-width: theme(screens.rg)) {
    main > blockquote {
      margin-left: calc(-1 * theme(spacing.ryt-lg) + theme(borderWidth.2));
    }
  }

  /* address */
  address {
    @apply my-ryt font-normal not-italic;
  }

  /* kbd */
  kbd {
    @apply px-ryt-xs rounded-sm border border-current text-center font-mono dark:text-write-light min-w-[1.5em] uppercase text-smaller;
  }

  /* pre and pre code */
  pre {
    @apply my-ryt;
  }

  pre,
  pre > code {
    @apply whitespace-pre-wrap break-words font-mono leading-normal;
    word-spacing: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    font-size: 0.95em;
  }

  code:not(pre code) {
    font-size: 0.95em;
    @apply text-write-dark bg-light dark:text-write-light dark:bg-light-dark font-mono p-[2px];
  }
}
