@layer base {
  /* reset
   * This reset is influenced by https://www.joshwcomeau.com/css/custom-css-reset/
   */

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  html {
    height: 100%;
    scroll-behavior: smooth;
    /*https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/*/
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  @media (prefers-reduced-motion) {
    html {
      scroll-behavior: auto;
    }
  }

  body {
    min-height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  svg {
    height: auto;
    max-width: 100%;
  }

  iframe,
  canvas {
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* base colors */
  body {
    @apply text-base text-write-dark dark:text-write-light dark:bg-back-dark;
  }

  /* focus */
  *:focus {
    @apply outline-indicator;
  }

  ::selection {
    @apply bg-primary-light text-primary-dark;
  }

  /* links */
  a {
    @apply underline;
  }
  a:hover,
  a:focus,
  a:active {
    @apply text-link dark:text-link-light;
  }

  /* headings */
  h1,
  .h1 {
    @apply font-display font-bold mt-ryt-2xl mb-ryt-xl break-after-avoid leading-snug text-balance;
    margin-bottom: 0.2em;
  }
  h2,
  .h2 {
    @apply font-display font-bold text-base mt-ryt-xl mb-ryt break-after-avoid leading-snug text-balance;
  }
  h3,
  .h3 {
    @apply font-display font-bold text-base mt-ryt-lg mb-ryt break-after-avoid leading-snug text-balance;
  }
  h4,
  h5,
  h6,
  .h3,
  .h4,
  .h5,
  .h6 {
    @apply font-display font-bold text-base mt-ryt-xl mb-ryt-lg break-after-avoid leading-snug text-balance;
  }

  details > summary {
    @apply hover:text-link dark:hover:text-link-light text-balance;
  }

  /* typography */
  cite {
    @apply font-bold not-italic;
  }

  mark,
  .mark {
    @apply bg-mark text-write-dark;
  }

  /* dl */

  dl {
    @apply my-ryt mx-0 p-0;
  }

  dt {
    @apply font-bold leading-snug text-balance;
    margin-bottom: 0.2em;
  }

  dd {
    @apply pl-ryt-lg;
  }

  dd + dt,
  dt + dt {
    @apply mt-ryt;
  }

  /* ul, ol */
  ol,
  ul {
    @apply list-none p-0 mx-0 my-ryt;
  }

  li > ol,
  li > ul {
    @apply my-0;
  }

  li {
    @apply m-0 p-0 pl-ryt-lg;
  }

  li > p:first-child {
    @apply inline;
  }

  li > ol {
    counter-reset: ol-counter;
  }

  ol > li {
    counter-increment: ol-counter;
  }

  ol > li::before {
    content: counters(ol-counter, ".", decimal) ". ";
    @apply text-smaller font-bold -ml-ryt-lg min-w-ryt-lg inline-flex content-baseline justify-start tabular-nums whitespace-nowrap;
  }

  ol > li > ol > li::before {
    content: counters(ol-counter, ".", decimal) " ";
  }

  ul > li::before {
    content: "●" " ";
    @apply not-italic -ml-ryt-lg min-w-ryt-lg inline-flex content-baseline justify-start whitespace-nowrap;
  }

  main > ul,
  main > ol {
    @apply rg:-ml-ryt-lg;
  }

  ul.reset,
  ol.reset {
    @apply list-none my-0 p-0;
    > li {
      @apply p-0;
    }
    > li::before {
      content: "";
      @apply hidden;
    }
  }

  /*vertical rhythm*/

  img + img {
    @apply my-ryt-lg;
  }
  p {
    @apply my-0 indent-0;
  }
  p + p {
    @apply my-ryt;
  }

  /* img */
  img {
    @apply object-contain object-left dark:filter dark:brightness-90 dark:contrast-125;
  }

  img:not(.hero img):not(.heror img):not(.herol img):not(.bleed img):not(
      .bleedl img
    ):not(.bleedr img) {
    @media (min-width: theme(screens.sm)) {
      max-height: 80vh;
    }
  }

  /* summary */

  summary {
    @apply cursor-pointer;
  }

  /* hr */
  hr {
    @apply max-w-rg my-ryt-xl border-0 flex justify-center;
  }

  hr::before {
    content: "* * *";
    @apply max-w-rg block -mt-ryt;
  }

  /* table */
  table {
    @apply my-ryt-xl text-sm border-collapse border-y-2 border-y-current;

    caption {
      @apply text-left text-sm py-ryt-sm border-t-2 border-t-current;
    }
    th {
      @apply text-left font-bold py-ryt-sm pr-ryt-sm align-top leading-tight;
    }
    td {
      @apply text-left font-normal py-ryt-sm pr-ryt-sm align-top leading-tight;
    }
    thead {
      th,
      td {
        @apply align-bottom;
      }
    }
    th + th,
    td + td {
      @apply pl-ryt-sm;
    }
  }

  main > .scroll-table,
  main > table,
  main > pre {
    @apply heror;
  }

  figure {
    @apply my-ryt-xl;
    figcaption {
      @apply max-w-rg my-ryt-sm font-mono text-sm text-balance;
    }
  }

  figure:not(figure figure):not(main * figure):has(iframe, video) {
    @apply max-sm:-mx-ryt;
    figcaption {
      @apply max-sm:mx-ryt;
    }
  }

  /* quote */

  q {
    @apply italic;
    quotes: "“" "”" "‘" "’";
  }

  blockquote {
    padding-left: calc(theme(spacing.ryt-lg) - theme(spacing.2));
    @apply border-l-2 border-l-current my-ryt text-balance;
  }

  blockquote > header,
  blockquote > footer {
    @apply my-ryt-sm font-mono text-sm text-balance;
    &::before {
      content: "—";
    }
  }

  @media (min-width: theme(screens.rg)) {
    main > blockquote {
      margin-left: calc(-1 * theme(spacing.ryt-lg) + theme(spacing.2));
    }
  }

  /* address */
  address {
    @apply my-ryt not-italic font-normal;
  }

  /* kbd */
  kbd {
    @apply font-mono bg-light dark:bg-light-dark text-center text-sm px-ryt-xs inline-block border border-current rounded-sm;
  }

  /* pre and pre code */
  pre {
    @apply my-ryt;
  }
  pre,
  pre > code {
    @apply text-sm leading-normal whitespace-pre-wrap font-mono break-words;
    word-spacing: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  code:not(pre code) {
    @apply bg-light text-write-dark dark:bg-light-dark dark:text-write-light px-ryt-2xs font-mono text-sm;
  }
}
