/* markdown-it toc */
/* purgecss start ignore */
.anchor {
  text-decoration: none;
  font-weight: normal;
  font-size: var(--fs);
  color: var(--neutral);
}

div.table-of-contents a {
  text-decoration: none;
}

div.table-of-contents::before {
  content: "Contents";
  display: block;
  font-weight: bold;
}

div.table-of-contents {
  margin: var(--space-3) 0;
}

div.table-of-contents a {
  text-decoration: none;
}

div.table-of-contents > * {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

div.table-of-contents > * {
}

div.table-of-contents ol li::before {
  content: "";
}

div.table-of-contents ol li::before {
  min-width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
/* purgecss end ignore */
