@media(min-width: 400px) {
        :root {
    font-size: 18px;
        }
}

@media(min-width: 600px) {
    :root {
    font-size: 19px;
    }
}

@media(min-width: 800px) {
    :root {
    font-size: 20px;
    }
}

/* Major third typescale https://typescale.com */

:root {
    --font-size-sm: 0.83rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.563rem;
    --font-size-2xl: 1.953rem;
    --font-size-3xl: 2.441rem;
    --font-size-4xl: 3.052rem;
    --font-size-5xl: 3.815rem;
  }

/* Use 1.75 factor for spacing rhythm */
:root {
  --ryt-3xs: calc(var(--font-size-base) * 0.1);
  --ryt-2xs: calc(var(--font-size-base) * 0.19);
  --ryt-xs: calc(var(--font-size-base) * 0.32);
  --ryt-sm: calc(var(--font-size-base) * 0.57);
  --ryt: var(--font-size-base);
  --ryt-lg: calc(var(--font-size-base) * 1.75);
  --ryt-xl: calc(var(--font-size-base) * 3);
  --ryt-2xl: calc(var(--font-size-base) * 5.35);
  --ryt-3xl: calc(var(--font-size-base) * 9.3);
  --xs: calc(var(--font-size-base) * 16);
  --sm: calc(var(--font-size-base) * 26);
  --rg: calc(var(--font-size-base) * 36);
  --md: calc(var(--font-size-base) * 46);
  --lg: calc(var(--font-size-base) * 58);
  --xl: calc(var(--font-size-base) * 70);
}
