:root {
  font-size: 16px;
}

:root {
  --font-size-sm: clamp(0.9375rem, 0.8984rem + 0.1957vi, 1.05rem);
  --font-size-base: clamp(1.125rem, 1.0598rem + 0.3261vi, 1.3125rem);
  --font-size-lg: clamp(1.35rem, 1.2489rem + 0.5054vi, 1.6406rem);
  --font-size-xl: clamp(1.62rem, 1.4702rem + 0.7492vi, 2.0508rem);
  --font-size-2xl: clamp(1.944rem, 1.7285rem + 1.0774vi, 2.5635rem);
  --font-size-3xl: clamp(2.3328rem, 2.0297rem + 1.5157vi, 3.2043rem);
  --font-size-4xl: clamp(2.7994rem, 2.3799rem + 2.0975vi, 4.0054rem);
}

:root {
  --ryt-3xs: calc(var(--font-size-base) * 0.1);
  --ryt-2xs: calc(var(--font-size-base) * 0.19);
  --ryt-xs: calc(var(--font-size-base) * 0.32);
  --ryt-sm: calc(var(--font-size-base) * 0.57);
  --ryt: var(--font-size-base);
  --ryt-lg: calc(var(--font-size-base) * 1.75);
  --ryt-xl: calc(var(--font-size-base) * 3);
  --ryt-2xl: calc(var(--font-size-base) * 5.35);
  --ryt-3xl: calc(var(--font-size-base) * 9.3);
  --xs: calc(var(--font-size-base) * 16);
  --sm: calc(var(--font-size-base) * 26);
  --rg: calc(var(--font-size-base) * 36);
  --md: calc(var(--font-size-base) * 46);
  --lg: calc(var(--font-size-base) * 58);
  --xl: calc(var(--font-size-base) * 70);
}
