/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-base: clamp(1.19rem, 0.29vw + 1.08rem, 1.31rem);
  }
}
/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-base: 1.19rem;
  }
  @media screen and (min-width: 1280px) {
    :root {
      --font-size-base: 1.31rem;
    }
  }
}
