<!-- order of head content ist optimized for page load performance with https://rviscomi.github.io/capo.js/ -->

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

{%- if title -%}
<title>{{title}}</title>
{%- else -%}
<title>{{site.title}}</title>
{%- endif -%}

<script type="speculationrules">
    {
        "prerender": [
            {
                "where": {
                    "href_matches": "/*"
                },
                "eagerness": "moderate"
            }
        ]
    }
</script>
<script src="/js/site{{site.cache.version.script}}.js"></script>
<link rel="stylesheet" href="/css/style{{site.cache.version.css}}.css" />
<!-- preload fonts -->
<link
    rel="preload"
    href="/fonts/iAWriterQuattroS-Regular{{site.cache.version.font}}.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
/>
<link
    rel="preload"
    href="/fonts/iAWriterQuattroS-Bold{{site.cache.version.font}}.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
/>
<link
    rel="preload"
    href="/fonts/iAWriterQuattroS-Italic{{site.cache.version.font}}.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
/>
<link
    rel="preload"
    href="/fonts/iAWriterMonoS-Regular{{site.cache.version.font}}.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
/>

<!-- everything else -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Cache-Control" content="no-store, max-age=0" />
<meta name="color-scheme" content="light dark" />
<!-- minimalistic favicon setup, checkout https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs -->
<link rel="icon" href="/favicon.ico" sizes="32x32" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />

<!-- SEO and feed -->
<link rel="canonical" href="{{site.origin}}{{page.url}}" />
<link
    rel="alternate"
    type="application/rss+xml"
    href="{{site.rss.url}}"
    title="RSS Feed"
/>

<!-- Open Graph -->
<meta property="og:site_name" content="{{site.title}}" />
<meta property="og:title" content="{{title | strip_html | strip_quotes }}" />
<meta property="og:url" content="{{site.origin}}{{page.url}}" />
<meta property="og:type" content="website" />

<meta property="og:locale" content="{{site.locale}}" />
{%- if abstract != nil and abstract != "" -%}
<meta
    property="og:description"
    content="{{abstract | strip_html | strip_quotes }}"
/>
{%- endif -%} {%- assign ogimg = content | og_image -%}
<meta property="og:image" content="{{ogimg.src}}" />
<meta
    property="og:image:alt"
    content="{{ogimg.alt | strip_html | strip_quotes}}"
/>
