{%- if key.key -%} {% if nav == nil %} {% assign path = key.path %} {%else%} {%
assign path = nav %}{% endif %}
<span class="js pointer-coarse:hidden">
  {%- if key.keyLabel -%}
  <kbd>{{ key.keyLabel }}</kbd>
  {%- else -%}
  <kbd>{{ key.key }}</kbd>
  {%- endif -%}
</span>
<script>
  if ("{{focusSelector}}") {
    registerKeyNav("{{key.key}}", "{{path}}", () => {
      const element = document.querySelector("{{focusSelector}}")
      element?.focus()
    })
  } else if ("{{path}}") {
    registerKeyNav("{{key.key}}", "{{path}}")
  }
</script>
{%- endif -%}
