{%- if key.key -%}
<span class="js pointer-coarse:hidden">
  {%- if key.keyLabel -%}
  <kbd>{{ key.keyLabel }}</kbd>
  {%- else -%}
  <kbd>{{ key.key }}</kbd>
  {%- endif -%}
</span>
<script>
  if ("{{focusSelector}}") {
    registerKeyNav("{{key.key}}", "{{path}}", () => {
      const elements = document.querySelectorAll("{{focusSelector}}")
      for (const e of elements) {
        const visible = e.checkVisibility()
        if (visible && e.focus) {
          e.focus()
          break
        }
      }
    })
  } else {
    registerKeyNav("{{key.key}}", "{{path}}")
  }
</script>
{%- endif -%}
