{%- for post in posts -%}
<article class="post-list {{post.data.docType}} flow-xs">
    {%- if post.data.docType == "bookmark" -%}
    <div class="meta">{{post.data.docType | capitalize}}</div>
    {%- endif -%} {%- if post.data.docType != "bookmark" -%}
    <div class="max-w-prose text-pretty sm:text-balance">
        <a class="h2" href="{{post.url}}"
            ><cite>{{post.data.title | markdown_inline }}</cite></a
        >
    </div>
    {%- endif -%} {%- if post.data.abstract -%}
    <p>{{post.data.abstract | markdown_inline }}</p>
    {%- if stream == true or post.data.docType == "bookmark"%}
    <div aria-hidden="true" class="border-l border-current">&nbsp;</div>
    {%-endif-%} {%- endif -%} {%- if stream == true or post.data.docType ==
    "bookmark"%}
    <div class="content stream">{{- post.templateContent -}}</div>
    {%- endif -%}
    <aside class="max-w-prose meta flex flex-wrap flex-row gap-x-md gap-y-xs">
        <span class="flex flex-row flex-wrap gap-x-sm">
            <span aria-hidden="true">◼</span>
            {%- include "dates.html" publishedDate: post.data.publishedDate
            published: post.data.published modifiedDate: post.data.modifiedData
            modified: post.data.modified -%}{%- include "tags.html" tags:
            post.data.tags -%}
        </span>
    </aside>
</article>
{%- endfor -%}
