{%- for post in posts -%}
<article class="post-list {{post.data.docType}} flow-xs">
    {%- if post.data.docType == "bookmark" -%}
    <div class="meta">{{post.data.docType | capitalize}}</div>
    {%- endif -%} {%- if post.data.docType != "bookmark" -%}
    <div class="max-w-prose text-pretty sm:text-balance">
        <a class="h2" href="{{post.url}}"
            ><cite>{{post.data.title | markdown_inline }}</cite></a
        >
    </div>
    {%- endif -%} {%- if post.data.abstract -%} {%- if stream == true or
    post.data.docType == "bookmark"-%}
    <p class="after:content-['↓'] after:flow-t after:block">
        {{post.data.abstract | markdown_inline }}
    </p>
    {%- else -%}
    <p>{{post.data.abstract | markdown_inline }}</p>
    {%- endif -%} {%- endif -%} {%- if stream == true or post.data.docType ==
    "bookmark"%}
    <div>{{- post.templateContent -}}</div>
    {%- endif -%}
    <aside
        class="max-w-prose meta flex flex-wrap flex-row gap-x-[.5em] gap-y-xs"
    >
        {%- if stream == true -%}
        <div>◼</div>
        {%- endif -%}
        <div class="flex flex-wrap flex-row gap-x-md gap-y-xs">
            {%- include "dates.html" publishedDate: post.data.publishedDate
            published: post.data.published modifiedDate: post.data.modifiedData
            modified: post.data.modified -%}{%- include "tags.html" tags:
            post.data.tags -%}
        </div>
    </aside>
</article>
{%- endfor -%}
