{% assign newerPost = collections.livePosts | getPreviousCollectionItem: page %}
{% assign olderPost = collections.livePosts | getNextCollectionItem: page %} {%-
if newerPost or olderPost -%}

<nav
    data-pagefind-ignore
    class="leading-normal flex flex-col w-full sm:gap-xl md:gap-2xl sm:flex-row gap-base justify-between text-pretty md:text-balance"
>
    {% if newerPost %}
    <div>
        <div class="meta whitespace-nowrap">
            <span>Newer post</span> {% include "key.html" key: site.nav.newer
            path: newerPost.url %}
        </div>
        <div>
            <a href="{{ newerPost.url }}">
                <cite>{{ newerPost.data.title }}</cite>
            </a>
        </div>
    </div>
    {% endif %} {% if olderPost %}
    <div class="ml-auto">
        <div class="meta whitespace-nowrap text-right">
            <span>Older post</span> {% include "key.html" key: site.nav.older
            path: olderPost.url %}
        </div>
        <div class="text-right">
            <a href="{{ olderPost.url }}">
                <cite>{{ olderPost.data.title }}</cite>
            </a>
        </div>
    </div>
    {% endif %}
</nav>
{%- endif -%}
