<nav
  data-pagefind-ignore
  class="fixed z-50 top-0 left-0 right-0 p-base md:px-xl lg:px-2xl bg-canvas"
>
  <div class="max-w-screen-xl mx-auto flex flex-row gap-md">
    <button class="open-primary-menu meta">Menu</button>
    <a
      id="back-to-top"
      href="#top"
      class="js meta button flex flex-row gap-sm !no-underline"
    >
      <span>Back to Top</span> {% include "key.html" key: site.nav.top path:
      "#top" %}
    </a>
  </div>
</nav>
<dialog
  data-pagefind-ignore
  class="primary-menu p-base md:px-xl lg:px-2xl inset-0 max-w-none max-h-none bg-canvas hidden open:block open:w-screen open:h-screen fixed z-50"
>
  <div class="max-w-screen-xl mx-auto flow-xl">
    <button class="close-primary-menu meta">Close Menu</button>
    <h1>Navigate {{site.name}}</h1>
    <div>
      <ul class="reset flex flex-col flex-wrap gap-y-base">
        <li class="flex flex-row gap-sm">
          <a href="/">Home</a>
          {% include "key.html" key: site.nav.home path: "/" %}
        </li>
        <li class="flex flex-row gap-sm">
          <a href="/blog/">Blog</a> {% include "key.html" key: site.nav.blog
          path: "/blog/" %}
        </li>
        <li class="flex flex-row gap-sm">
          <a href="/about/">About</a> {% include "key.html" key: site.nav.about
          path: "/about/" %}
        </li>
        <li class="flex flex-row gap-sm">
          <a href="/colophon/">Colophon</a> {% include "key.html" key:
          site.nav.colophon path: "/colophon/" %}
        </li>
        <li class="flex flex-row gap-sm">
          <a href="{{site.rss.url}}" type="application/rss+xml">RSS</a>
        </li>
      </ul>
    </div>
    <div>{%- include "search-field.html" -%}</div>
  </div>
</dialog>
<script>
  const menu = document.querySelector("dialog.primary-menu")
  const menuOpen = document.querySelector("button.open-primary-menu")
  const menuClose = document.querySelector("button.close-primary-menu")
  const body = document.querySelector("body")

  menuOpen.addEventListener("click", () => {
    menu.showModal()
    body.classList.add("overflow-hidden")
  })
  menuClose.addEventListener("click", () => {
    menu.close()
    body.classList.remove("overflow-hidden")
  })
  menu.addEventListener("cancel", (e) => {
    e.preventDefault()
    menu.close()
    body.classList.remove("overflow-hidden")
  })
</script>
