<search data-pagefind-ignore class="js">
  <form id="{{id}}" class="search-form max-w-prose">
    <label id="search-label">
      <span class="flex flex-row gap-sm">
        {% assign selector = "#" | append: id | append: " .search-query" %}

        <span> Search {{ site.name }} </span>

        {% include "key.html" key: site.nav.search focusSelector: selector %}
      </span>

      <div class="flex flex-row gap-base">
        <input
          name="query"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          enterkeyhint="search"
          type="search"
          suggestion-wrapper-id="{{id}}-autocomplete-search"
          class="grow self-stretch search-query"
        />

        <input
          class="shrink-0"
          type="submit"
          id="search-submit"
          value="Search"
        />
      </div>
    </label>

    <ul id="{{id}}-autocomplete-search" class="shadow-xl"></ul>

    <script type="module">
      import { AutoComplete } from "/js/autocomplete{{site.buildTimestamp}}.mjs"
      let pagefind

      async function initPagefind() {
        try {
          if (!pagefind) {
            pagefind = await import("{{site.pagefind.path}}")
            pagefind.init()
          }
          return pagefind
        } catch (err) {
          console.error("Failure when initializing pagefind", err)
          throw err
        }
      }

      window.initPagefind = initPagefind

      function setQueryParameterByName(name, value) {
        history.replaceState(null, null, "?" + name + "=" + value)
      }

      function getQueryParameterByName(name, url) {
        const params = new URL(url || document.location).searchParams

        return params.get(name)
      }

      window.getQueryParameterByName = getQueryParameterByName

      async function suggestPages(query, signal) {
        const LIMIT_ENTRIES = 7
        const pagefind = await initPagefind()

        if (signal?.aborted) {
          throw new DOMException("Aborted", "AbortError")
        }

        const search = await pagefind.search(query)

        if (signal?.aborted) {
          throw new DOMException("Aborted", "AbortError")
        }

        const results = search.results.slice(0, LIMIT_ENTRIES)

        const suggestions = await Promise.all(
          results.map((result) => result.data())
        )

        if (signal?.aborted) {
          throw new DOMException("Aborted", "AbortError")
        }

        return suggestions
      }

      function openPage(suggestion) {
        location.href = suggestion.url
      }

      function getSearchForm() {
        if (!"{{id}}") {
          console.error("Missing search form id")
        }
        return document.querySelector("#{{id}}")
      }

      function getQueryField() {
        const searchForm = getSearchForm()
        return searchForm.querySelector(".search-query")
      }

      function submitQuery(event) {
        event?.preventDefault()

        const queryField = getQueryField()
        const query = queryField.value

        if (query && query.trim()) {
          location.href =
            "{{site.nav.search.path}}" +
            "?query=" +
            encodeURIComponent(query.trim())
        } else {
          location.href = "{{site.nav.search.path}}"
        }
      }

      function setQueryValue() {
        const query = getQueryParameterByName("query")
        const queryField = getQueryField()
        queryField.value = query || ""
      }

      function registerEvents() {
        const searchForm = getSearchForm()
        searchForm.addEventListener("submit", submitQuery)
        addEventListener("DOMContentLoaded", () => {
          AutoComplete({
            selector: "#{{id}} .search-query",
            queryData: suggestPages,
            threshold: 1,
            onSelect: openPage
          })
        })

        const queryField = getQueryField()
        queryField.addEventListener("focus", initPagefind)
      }

      setQueryValue()
      registerEvents()
    </script>
  </form>
</search>
