<search data-pagefind-ignore class="js">
  <form id="{{id}}" class="search-form max-w-prose">
    <label id="search-label"
      ><span class="flex flex-row gap-sm"
        ><span>Search {{ site.name }}</span> {% include "key.html" key:
        site.nav.search path: "/search/" focusSelector: ".search-query" %}</span
      >
      <div class="flex flex-row gap-base">
        <input
          name="query"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          enterkeyhint="search"
          type="search"
          suggestion-wrapper-id="{{id}}-autocomplete-search"
          class="grow self-stretch search-query"
          type="text"
        />
        <input
          class="shrink-0"
          type="submit"
          id="search-submit"
          value="Search"
        />
      </div>
    </label>
    <ul id="{{id}}-autocomplete-search" class="shadow-xl"></ul>
    <script type="module">
      import { AutoComplete } from "/js/autocomplete{{site.cache.version.script}}.mjs"

      var pagefind
      async function initPagefind() {
        try {
          if (!pagefind) {
            pagefind = await import("{{site.pagefind.path}}")
            pagefind.init()
          }
          return pagefind
        } catch (err) {
          console.error("Failure when initializing pagefind", err)
        }
      }

      //export
      window.initPagefind = initPagefind

      function setQueryParameterByName(name, value) {
        history.replaceState(null, null, "?" + name + "=" + value)
      }

      function getQueryParameterByName(name, url) {
        let params = new URL(url || document.location).searchParams
        const param = params.get(name)
        return param
      }

      //export
      window.getQueryParameterByName = getQueryParameterByName

      async function suggestPages(query, callback) {
        const LIMIT_ENTRIES = 7
        try {
          const pagefind = await initPagefind()
          const search = await pagefind.search(query)
          const suggestions = Array(
            Math.min(LIMIT_ENTRIES, search.results.length)
          )
          const promiseCollector = []

          for (let i = 0; i < LIMIT_ENTRIES && i < search.results.length; i++) {
            promiseCollector.push(
              search.results[i].data().then((data) => {
                suggestions[i] = data
              })
            )
          }
          await Promise.allSettled(promiseCollector)
          callback(null, suggestions)
        } catch (error) {
          callback(error, [])
        }
      }

      function openPage(suggestion) {
        location.href = suggestion.url
      }

      function getSearchForm() {
        return document.querySelector("#{{id}}")
      }

      function getQueryField() {
        const searchForm = getSearchForm()
        return searchForm.querySelector(".search-query")
      }

      function submitQuery(event) {
        if (event) {
          event.preventDefault()
        }

        const queryField = getQueryField()
        const query = queryField.value
        if (query && query.trim()) {
          location.href =
            "{{site.search.path}}" +
            "?query=" +
            encodeURIComponent(query.trim())
        } else {
          location.href = "{{site.search.path}}"
        }
      }

      function setQueryValue() {
        let query = getQueryParameterByName("query")
        let queryField = getQueryField()
        queryField.value = query
      }

      function registerEvents() {
        const searchForm = getSearchForm()
        searchForm.addEventListener("submit", submitQuery)

        addEventListener("DOMContentLoaded", (event) => {
          AutoComplete({
            selector: "#{{id}} .search-query",
            queryData: suggestPages,
            threshold: 1,
            onSelect: openPage
          })
        })
        const queryField = getQueryField()
        queryField.addEventListener("focus", initPagefind)
      }

      setQueryValue()
      registerEvents()
    </script>
  </form>
</search>
