<nav data-pagefind-ignore>
    <ul class="reset flex flex-col gap-base">
        <li>
            <a href="/">Home</a> {% include "key.html" key: site.nav.home path:
            "/" %}
        </li>
        <li>
            <a href="/blog/">Blog</a> {% include "key.html" key: site.nav.blog
            path: "/blog/" %}
        </li>
        <li>
            <a href="/about/">About</a> {% include "key.html" key:
            site.nav.about path: "/about/" %}
        </li>
        <li>
            <a href="/colophon/">Colophon</a> {% include "key.html" key:
            site.nav.colophon path: "/colophon/" %}
        </li>
        <li class="js">
            <a href="/search/">Search</a> {% include "key.html" key:
            site.nav.search path: "/search/" focusSelector: "#search-query" %}
        </li>
        <li>
            <a href="{{site.rss.url}}" type="application/rss+xml">RSS</a>
        </li>
    </ul>

    <div
        id="back-to-top"
        class="js meta m-base p-sm bg-button-canvas text-button-write border border-current fixed right-0 bottom-0"
    >
        <div class="text-right">
            <a href="#" class="!text-current">Back to Top</a> {% include
            "key.html" key: site.nav.top path: "#" %}
        </div>
    </div>
</nav>
