<div class="flow">
    {%- if docType != 'image'-%}
    <h1 class="sm:text-balance content text-2xl sm:text-3xl">
        {{title | markdown_inline }}
    </h1>
    {%- else -%}
    <h1 class="sm:text-balance content">{{title | markdown_inline }}</h1>
    {%- endif -%} {%- if abstract -%}
    <p class="flow-y content">{{abstract | markdown_inline }}</p>
    {%- endif -%} {%- if isPost -%}
    <aside class="meta flex flex-wrap flex-row gap-x-md gap-y-xs">
        {%- include "dates.html" -%}{%- include "tags.html" -%}
    </aside>
    {%-endif-%}
</div>
