@layer utilities {
    :root {
        --flow-space: 1em;
    }

    .flow > * + * {
        margin-block-start: var(--flow-space, 1em);
    }

    .flow-xs > * + * {
        margin-block-start: theme(spacing.xs);
    }

    .flow-sm > * + * {
        margin-block-start: theme(spacing.sm);
    }

    .flow-base > * + * {
        margin-block-start: them(espacing.base);
    }

    .flow-md > * + * {
        margin-block-start: theme(spacing.md);
    }

    .flow-lg > * + * {
        margin-block-start: theme(spacing.lg);
    }

    .flow-xl > * + * {
        margin-block-start: theme(spacing.xl);
    }

    .meta {
        @apply text-sm font-mono;
    }

    .outline-indicator {
        @apply outline-primary outline-4 outline-offset-2 outline;
    }

    .outline-indicator-lg {
        @apply outline-primary outline-8 outline-offset-2 outline;
    }

    /*grid masonry*/
    .grid-masonry {
        grid-template-rows: masonry;
    }

    /* split */
    .split {
        @apply grid auto-cols-fr grid-flow-col gap-lg;
    }
    .split img {
        @apply object-scale-down;
    }
    .split > * {
        @apply m-0;
    }
    .split.start > * {
        @apply flex flex-col justify-start;
    }
    .split.center > * {
        @apply flex flex-col justify-center;
    }
    .split.end > * {
        @apply flex flex-col justify-end;
    }

    .outdent {
        margin-inline-start: calc(-1 * var(--outdent-indent-space));
        min-width: var(--outdent-indent-space);
    }

    .prose-flow {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ul,
        ol,
        dl,
        td,
        th,
        caption,
        blockquote,
        hr,
        figcaption {
            @apply max-w-prose;
        }
    }

    .prose-justify {
        p {
            @apply text-justify hyphens-auto text-pretty;
            hyphenate-limit-chars: 7;
        }
    }

    .outdent-prose-flow {
        @apply outdent !max-w-[calc(theme(maxWidth.prose)+var(--outdent-indent-space))];
    }
}
