@font-face {
  font-family: "iA Writer Quattro";
  font-style: italic;
  font-weight: 400;
  src:
    local(""),
    url("/fonts/iAWriterQuattroS-Italic{{site.buildTimestamp}}.woff2")
      format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Quattro";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("/fonts/iAWriterQuattroS-Regular{{site.buildTimestamp}}.woff2")
      format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Quattro";
  font-style: normal;
  font-weight: 700;
  src:
    local(""),
    url("/fonts/iAWriterQuattroS-Bold{{site.buildTimestamp}}.woff2")
      format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Quattro";
  font-style: italic;
  font-weight: 700;
  src:
    local(""),
    url("/fonts/iAWriterQuattroS-BoldItalic{{site.buildTimestamp}}.woff2")
      format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Mono";
  font-style: italic;
  font-weight: 400;
  src:
    local(""),
    url("/fonts/iAWriterMonoS-Italic{{site.buildTimestamp}}.woff2")
      format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Mono";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("/fonts/iAWriterMonoS-Regular{{site.buildTimestamp}}.woff2")
      format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Mono";
  font-style: normal;
  font-weight: 700;
  src:
    local(""),
    url("/fonts/iAWriterMonoS-Bold{{site.buildTimestamp}}.woff2")
      format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Mono";
  font-style: italic;
  font-weight: 700;
  src:
    local(""),
    url("/fonts/iAWriterMonoS-BoldItalic{{site.buildTimestamp}}.woff2")
      format("woff2");
  font-display: swap;
}
