<!DOCTYPE html>
<html
  class="auto-dark-mode hover-rows no-js"
  id="{{site.backToTop.id}}"
  lang="{{site.locale}}"
  dir="{{site.direction}}">

  <head>
    {% include "head.html" %}
  </head>

  {%- if nosearch == nil and draft == nil -%} {%assign search_attribute =
  'data-pagefind-body' %} {%- else -%} {%assign search_attribute =
  'data-pagefind-ignore="all"' %} {%- endif -%}
  <body class="p-hr blank break-word outdent" {{search_attribute}}>
    <main id="main" {% if outline == true %}class="outline"{% endif %}>
      {{ content }}
    </main>
  </body>

</html>