<!DOCTYPE html>
<html id="{{site.backToTop.id}}" lang="{{site.locale}}">

	<head>
		{% include head.html %}
	</head>

	<body class="pdx default break-word">

		<div {% if bleed and bleed != false %}class="mrx-auto mxw-bleed"{% else%}class="mrx-auto mxw-rg"{% endif%}>

			{% include header.html %}

			<main id="main"  class="indent rg:mrt-4">
				{%- if title != "notitle" and title != nil and notitle == nil   -%}
					<header class="mrb-2">
						<h1 class="mry-0 bleed-right rg:fs-4">{{ title }}</h1>

						{%- if subtitle -%}
							<h2 class="mr-0 normal fs lh-default caps">{{subtitle}}</h2>
						{% endif %}

						{% include author-date-tags.html %}
						{%- if abstract -%}
							<figure class="larger bleed-right">
								{{abstract}}
							</figure>
						{%- endif -%}
					</header>

				{%- endif -%}
				<div {% if outline and outline != false %}class="outline"{% endif %}>
					{{ content }}
				</div>

			</main>

			{% include footer.html %}

		</div>
	</body>

</html>