<!DOCTYPE html>
<html
  class="no-js"
  id="{{site.backToTop.id}}"
  lang="{{site.locale}}"
  dir="{{site.direction}}">

  <head>
    {% include "head.html" %}
  </head>

  <body class="break-words flex flex-col">
    <div class="grow shrink-0 px-ryt">
      {% include "header.html" %}
      <main id="main" class="indent max-w-rg mx-auto mb-ryt-xl">
        {% include "title.html" %}
        {{ content }}
        {% include "comments.html" %}
        {% include "post-nav.html" %}
      </main>
    </div>
    {% include "footer.html" %}
  </body>

</html>