<!DOCTYPE html>
<html id="{{site.backToTop.id}}" lang="{{site.locale}}">

	<head>
		{% include head.html %}
	</head>

	<body class="default break-word bg-neutral-5">
		<div class="mivw-100 mivh-100 pdx bg-base-background">
			<div class="mrx-auto {% if bleed and bleed != false %}bleed{% else%}mxw-rg{% endif%}">

				{% include header.html %}

				<main id="main"  class="indent rg:mrt-4">
					{%- if title != "notitle" and title != nil and notitle == nil   -%}
						<header class="mrb-2 bleed-right">
							<h1 class="mry-0 rg:fs-4 lsp-d1">{{ title }}</h1>
							{%- if subtitle -%}
								<h2 class="mry-0 normal fs-1 lh-2 caps">{{subtitle}}</h2>
							{% endif %}
							{% include author.html %}

							{%- if abstract -%}
								<div class="fs-1 lh-2 mrt-1">
									{{abstract}}
								</div>
							{%- endif -%}
						</header>
					{%- endif -%}
					<div {% if outline and outline != false %}class="outline"{% endif %}>
						{{ content }}
					</div>
					<aside class="mry-2">
						{% include date-tags.html %}
					</aside>
				</main>
			</div>
			{% include footer.html %}
		</div>
	</body>

</html>