---
layout: default
nodate: true
---

<div class="no-indent">{{ content }}</div>
<div class="image-container">
  {%- if tag != nil -%} {% assign imageData = collections[tag] | live | reverse
  | firstImage %} {%- else -%} {% assign imageData = collections.liveContent |
  reverse | firstImage %} {%- endif %}
  <!---->
  {%for image in imageData%}
  <figure class="m-0">
    <a class="no-underline inline-block" href="{{image.url}}">
      <img
        src="{{image.smallSrc}}"
        loading="lazy"
        class="fit-contain"
        alt="image.alt"
        {%if
        image.height
        and
        image.width%}
        width="{{image.width}}"
        height="{{image.height}}"
        aspect-ratio="{{image.width}}/{{image.height}}"
        {%endif%}
      />
      {%if image.title %}
      <figcaption class="font-body leading-snug {{image.starred}}">
        {{image.title}}
      </figcaption>
      {%endif%}
    </a>
  </figure>
  {% endfor %}
</div>

<div class="my-ryt-2xl">{%- include "site-tags.html" -%}</div>
