<!DOCTYPE html>
<html id="{{site.backToTop.id}}" lang="{{site.locale}}">

	<head>
		{% include head.html %}
	</head>

	<body class="pdx image break-word">

		<div class="mxw-rg mrx-auto">
			{% include header.html %}

			<main id="main"  class="indent">
				{%- if title != "notitle" and title != nil and notitle == nil -%}
					<header class="mrb-2">
						<h1 class="fs lh-default mrt-0">{{ title }}</h1>
						{%- if subtitle -%}
							<h2 class="mr-0 normal fs lh-default">{{subtitle}}</h2>
						{% endif %}

						{% include author-date-tags.html %}
					</header>
				{%- endif -%}

				<div {% if outline and outline != false %}class="outline"{% endif %}>
					{{ content }}
				</div>

			</main>

			{% include footer.html %}

		</div>

	</body>

</html>