<!DOCTYPE html>
<html id="start" lang="{{site.locale}}">

	<head>
		{% include head.html %}
		<style>
			.image .title * {
				font-size: var(--fs-d1);
				line-height: var(--lh-2);
			}

			main * {
				font-family: var(--meta-font-family);
			}
		</style>
	</head>

	<body>
		{% include header.html %}

		<main class="x indent word-wrap image">

			<div class="breakout-r flex justify-space-between mrb-2 pdt-d2">
				<section class="title mrr mxw-6">
					{% include title.html %}
				</section>
				{%- if nostepnav == nil -%}
					<div class="lh-2">
						{% include step-nav.html shortnav: true %}
					</div>
				{%- endif -%}
			</div>

			{{ content }}

		</main>

		{% include footer.html stepnav: false %}		
		
	</body>

</html>