<!DOCTYPE html>
<html id="start" lang="{{site.locale}}">

	<head>
		{% include head.html %}
		<style>
			.image .title h1 {
				font-size: var(--fs);
			}

			.image .author-date-tags {
				margin-bottom: var(--space-1);
			}

			main * {
				font-family: var(--meta-font-family);
			}
		</style>
	</head>

	<body>
		{% include header.html %}

		<main id="main" class="indent word-wrap image">
			<div class="mrb-2 pdt-d2">
				<header class="title mrr mxw-rg">
					{% include author-date-tags.html %}
					{% include title.html %}
				</header>
			</div>

			{{ content }}

		</main>

		{% include footer.html %}

	</body>

</html>