---
layout: default
nodate: true
nostepnav: true
---
{{ content }}
<!-- posts -->
<style>
    article {
        margin-top: var(--space-1);
        margin-bottom: var(--space-1);
    }

    article:last-child {
        margin-bottom: 0;
    }
</style>
<div>
    {%- if tag != nil -%}
        {% assign liveContent = collections[tag] | live | reverse %}
        {%- elsif sitetags != nil -%}
        {% assign liveContent = collections.liveSiteTagContent | reverse %}
    {%- endif %}

    {%- for p in liveContent -%}

        {%- if p.url == page.url -%}
            {%- continue -%}
        {%- endif -%}

        {%- assign pageYear = p.date | date: '%Y' -%}

        {%- assign href = p.url -%}

        {%- if indexYear != pageYear -%}
            {%- if indexYear != nil -%}
            <time class="meta">{{pageYear}}</time>
            {%- endif -%}
            {%- assign indexYear = pageYear -%}
        {%- endif -%}

        {%- assign count = count | plus: 1 -%}

        <article>
            {%- if p.data.title and p.data.title != "notitle" and p.data.notitle == nil -%}
                <h2 class="mry-0 inline fs">
                    <a href="{{p.url}}" class="heading-color">{{ p.data.title }}</a>
                </h2>
            {%- endif -%}

            {%- if p.data.refer -%}
                <p>{{p.data.refer}}</p>
                {%- elsif p.data.abstract -%}
                <p>{{p.data.abstract}}</p>
                {%- elsif p.data.subtitle -%}
                <p>{{p.data.subtitle}}</p>
                {%- elsif p.templateContent -%}
                <p>{{ p.templateContent | strip_html | truncatewords:25, "&nbsp;…"  }}</p>
            {%- endif -%}

            <aside class="small meta inline-block">
                {% include author-and-date.html, author: p.data.author, date: p.date %}
            </aside>

            {%- if p.data.title == nil or p.data.title == "notitle" or p.data.notitle != nil-%}
                <a class="small meta block" href="{{p.url}}">Read the entire article →</a>
            {%- endif -%}

        </article>

    {%- endfor -%}
</div>