---
layout: default
nodate: true
permalink: "{{site.search.url}}"
---
<div class="my-ryt-2xl">
  <noscript>
    <div class="legible-base-width">You cannot perform a search because JavaScript disabled for your browser. Please consider enabling JavaScript.</div>
  </noscript>
  {% include "search-field.html", focus: true, onsubmit:
   "event.preventDefault(); search(event.target[SEARCH_QUERY_ID].value);
   history.replaceState(null, '', location.pathname + '?query=' +
   event.target[SEARCH_QUERY_ID].value)" %}
</div>
<div id="search-results"></div>
<script>
  const SEARCH_RESULTS_ID = "search-results";
  const SEARCH_QUERY_ID = "search-query";
  const SEARCH_SUBMIT_ID = "search-submit";

  function getParameterByName(name, url) {
    url = url
      ? url
      : location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    let regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
    let results = regex.exec(url);
    if (! results) {
      return null;
    }
    if (! results[2]) {
      return "";
    }
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  function removeChildren(parent) {
    if (parent) {
      let child = parent.lastElementChild;
      while (child) {
        parent.removeChild(child);
        child = parent.lastElementChild;
      }
    }
  }

  function printResultEntry(parent, entry) {
    if (parent) {
      let article = document.createElement("article");
      parent.appendChild(article);
      if (entry.title && entry.title != "notitle") {
        let title = document.createElement("h2");
        title.classList = "mt-ryt-lg mb-0";
        article.appendChild(title);

        let linkToArticle = document.createElement("a");
        linkToArticle.classList = 'no-underline';
        linkToArticle.href = entry.id;
        linkToArticle.innerHTML = entry.title;
        title.appendChild(linkToArticle);
      } else {
        let abstract = entry.abstract || entry.excerpt;
        let excerpt = document.createElement("p");
        excerpt.innerHTML = abstract;
        excerpt.appendChild(document.createTextNode(" "));
        let linkToArticle = document.createElement("a");
        linkToArticle.href = entry.id;
        linkToArticle.innerHTML = "Read more";
        excerpt.appendChild(linkToArticle);
        article.appendChild(excerpt);
      }

      if (entry.humanDate || (entry.tags.length && ! entry.notags)) {
        let aside = document.createElement("aside");
        aside.classList = `${
          entry.starred
            ? entry.starred
            : ""
          }`;
        article.appendChild(aside);

        if (entry.date) {
          let date = document.createElement("time");
          date.innerHTML += entry.humanDate;
          date.classList = "inline-block mr-ryt-sm";
          aside.appendChild(date);
          aside.appendChild(document.createTextNode(" "));
        }

        if (entry.tags.length && ! entry.notags) {
          let tags = document.createElement("span");
          aside.appendChild(tags);

          for (let tag of entry.tags) {
            if (tag.name == "{{site.starTag}}") {
              let tagLink = document.createElement("a");
              tagLink.href = tag.url;
              tagLink.innerHTML = "{{site.starTagSymbol}}";
              tagLink.classList = "no-underline px-ryt-2xs mr-ryt-xs";
              tags.appendChild(tagLink);
              tags.appendChild(document.createTextNode(" "));
              break;
            }
          }
          for (let tag of entry.tags) {
            if (tag.name != "{{site.starTag}}") {
              let tagLink = document.createElement("a");
              tagLink.href = tag.url;
              tagLink.innerHTML = tag.name;
              tagLink.classList = "no-underline inline-block mr-ryt-xs";
              tags.appendChild(tagLink);
              tags.appendChild(document.createTextNode(" "));
            }
          }
        }
      }
    }
  }

  function printTitle(query) {
    document.title = 'Search "' + query + '"';
  }

  function printResultCount(searchResults, resultSet, query) {
    let count = document.createElement("div");
    count.classList.add('legible-rem-width');
    if (resultSet.length == 0) {
      count.innerHTML = 'Your search for <strong>' + query + '</strong> did not return any results.';
    } else if (resultSet.length == 1) {
      count.innerHTML = 'One result for <strong>' + query + '</strong:';
    } else {
      count.innerHTML = resultSet.length + ' results for <strong>' + query + '</strong>:';
    } searchResults.append(count);
  }

  function printSearching() {
    let searchResults = document.getElementById(SEARCH_RESULTS_ID);
    if (! searchResults) {
      console.error("The page does not have a DOM element with id=" + SEARCH_RESULTS_ID);
      return;
    }
    removeChildren(searchResults);
    let searching = document.createElement("div");
    searching.innerHTML = "Searching …";
    searchResults.append(searching);
  }

  function printSearchResults(resultSet, query) {
    let searchResults = document.getElementById(SEARCH_RESULTS_ID);
    if (! searchResults) {
      console.error("The page does not have a DOM element with id=" + SEARCH_RESULTS_ID);
      return;
    }
    removeChildren(searchResults);
    printTitle(query);
    printResultCount(searchResults, resultSet, query);
    if (resultSet.length) {
      for (let entry of resultSet) {
        printResultEntry(searchResults, entry);
      }
    }
  }

  function printError(error, query) {
    let searchResults = document.getElementById(SEARCH_RESULTS_ID);
    if (! searchResults) {
      console.error("The page does not have a DOM element with id=" + SEARCH_RESULTS_ID);
      return;
    }
    removeChildren(searchResults);
    let errorMessage = document.createElement("div");
    errorMessage.innerHTML = 'The search for <strong>' + query + '</strong> could not be completed because of a failure.';
    if (error && error.status && error.statusText) {
      errorMessage.innerHTML += '</br>';
      errorMessage.innerHTML += 'Status code ' + error.status + ': ' + error.statusText;
    }
    searchResults.append(errorMessage);
  }

  async function search(query) {
    try {
      let start = Date.now();
      let response = await fetch('/api/search/?query=' + encodeURIComponent(query));
      let duration = Date.now() - start;
      if (response.status == 200) {
        let resultSet = await response.json();
        console.log('The search for [' + query + '] returned ' + resultSet.length + ' results within ' + duration + ' milliseconds');
        printSearchResults(resultSet, query)
      } else {
        printError(response, query);
      }
    } catch (error) {
      printError(error, query);
    }
  }

  addEventListener("DOMContentLoaded", function(event) {
    let query = getParameterByName("query");
    let input = document.getElementById(SEARCH_QUERY_ID);
    if (input) {
      input.value = query;
    }
    if (query) {
      printSearching();
      search(query);
    }
  });
</script>