---
layout: list
nodate: true
permalink: '{{site.search.url}}'
---
<script>

    const SEARCH_RESULTS_ID = 'search-results';
    const SEARCH_QUERY_ID = 'search-query';
    const SEARCH_SUBMIT_ID = 'search-submit';

    var searchIndex,
        friendlyMap;

    function getParameterByName(name, url) {
        url = url
            ? url
            : location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)');
        let results = regex.exec(url);
        if (!results) {
            return null;
        }
        if (!results[2]) {
            return '';
        }
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function removeChildren(parent) {
        if (parent) {
            let child = parent.lastElementChild;
            while (child) {
                parent.removeChild(child);
                child = parent.lastElementChild;
            }
        }
    }

    function printResultEntry(parent, entry) {
        if (parent) {
            let friend = friendlyMap.get(entry.ref);

            let article = document.createElement('article');
            article.classList = 'mry-1 md:bleed-left md:flex-row-reverse md:align-baseline';
            parent.appendChild(article);

            let section = document.createElement('section');
            section.classList = 'md:w-rg md:flex-shrink-0';
            article.appendChild(section);

            if (friend.title && friend.title != 'notitle') {
                let title = document.createElement('h2');
                title.classList = 'mry-0 fs lh-default';
                section.appendChild(title);

                let linkToArticle = document.createElement('a');
                linkToArticle.href = entry.ref;
                linkToArticle.classList = 'no-deco inline-block';
                linkToArticle.innerHTML = friend.title;
                title.appendChild(linkToArticle);
            }

            if (friend.subtitle || friend.abstract || friend.excerpt || friend.content) {
                let excerpt = document.createElement('p');
                section.appendChild(excerpt);
                let text = friend.subtitle || friend.abstract || friend.excerpt;
                if (text) {
                    excerpt.innerHTML = text;
                } else {
                    excerpt.innerHTML = friend
                        .content
                        .split(' ')
                        .slice(0, (
                            parseInt('{{site.excerptWordCount}}')
                            ? parseInt('{{site.excerptWordCount}}')
                            : 25))
                        .join(' ') + ' …';
                }
            }

            if (!friend.title || friend.title == 'notitle') {
                let linkToArticle = document.createElement('a');
                linkToArticle.href = entry.ref;
                linkToArticle.innerHTML = 'Read more';
                section.appendChild(linkToArticle);
            }

            if (friend.date || (friend.tags.length && !friend.notags)) {
                let aside = document.createElement('aside');
                aside.classList = `meta block md:fs-d1 md:pdr-1 md:mrl-auto md:right ${friend.starred
                    ? friend.starred
                    : ''}`;
                article.innerHTML += ' ';
                article.appendChild(aside);

                if (friend.date) {
                    let date = document.createElement('time');
                    date.innerHTML += friend.humanDate;
                    date.classList = 'block';
                    date.appendChild(document.createTextNode(' '));
                    aside.appendChild(date);
                }

                if (friend.tags.length && !friend.notags) {
                    if (friend.date) {
                        aside.appendChild(document.createTextNode(' '));
                    }
                    let tags = document.createElement('span');
                    tags.classList = "block";
                    aside.appendChild(tags);

                    let label = document.createElement('span');
                    label.innerHTML = 'in';
                    tags.appendChild(document.createTextNode(' '));
                    tags.appendChild(label);
                    for (let tag of friend.tags) {
                        if (tag.name == '{{site.starTag}}') {
                            let tagLink = document.createElement('a');
                            tagLink.href = tag.url;
                            tagLink.innerHTML = '{{site.starTagSymbol}}';
                            tagLink.classList = "pdx-d3";
                            tags.appendChild(document.createTextNode(' '));
                            tags.appendChild(tagLink);
                            break;
                        }
                    }
                    for (let tag of friend.tags) {
                        if (tag.name != '{{site.starTag}}') {
                            let tagLink = document.createElement('a');
                            tagLink.href = tag.url;
                            tagLink.innerHTML = tag.name;
                            tagLink.classList = "inline-block";
                            tags.appendChild(document.createTextNode(' '));
                            tags.appendChild(tagLink);
                        }
                    }
                }
            }
        }
    }

    function printHeading(resultSet, query) {
        let heading = document.getElementsByTagName('h1');
        if (heading.length) {
            if (resultSet.length) {
                heading[0].innerHTML = 'Search results for "' + query + '"';
            } else {
                heading[0].innerHTML = 'No search results for "' + query + '"';
            }
        }
    }

    function printResultCount(searchResults, resultSet, query) {
        let count = document.createElement('div');
        if (resultSet.length == 0) {
            count.innerHTML = 'Your search for "' + query + '" did not return any results.'
        } else {
            count.innerHTML = resultSet.length + ' results:';
        }
        count.classList = "meta mry";
        searchResults.append(count);
    }

    function printSearching() {
        let searchResults = document.getElementById(SEARCH_RESULTS_ID);
        if (!searchResults) {
            console.error('The page does not have a DOM element with id=' + SEARCH_RESULTS_ID);
            return;
        }
        removeChildren(searchResults);
        let searching = document.createElement('div');
        searching.classList = "meta mry";
        searching.innerHTML = 'Searching …';
        searchResults.append(searching);
    }

    function printSearchResults(resultSet, query) {
        let searchResults = document.getElementById(SEARCH_RESULTS_ID);
        if (!searchResults) {
            console.error('The page does not have a DOM element with id=' + SEARCH_RESULTS_ID);
            return;
        }
        removeChildren(searchResults);
        printHeading(resultSet, query);
        printResultCount(searchResults, resultSet, query);
        if (resultSet.length) {
            for (let entry of resultSet) {
                printResultEntry(searchResults, entry);
            }
        }
    }

    function search(query) {
        if (searchIndex) {
            let resultSet = [];
            if (query && query.trim().length) {
                resultSet = searchIndex.search(query);
            }
            printSearchResults(resultSet, query);
        }
    }

    function maintainInputState() {
        let submit = document.getElementById(SEARCH_SUBMIT_ID);
        if (searchIndex && friendlyMap) {
            submit.disabled = false;
        } else {
            submit.disabled = true;
        }
    }

    addEventListener('load', function (event) {
        maintainInputState();
        let query = getParameterByName('query');
        let input = document.getElementById(SEARCH_QUERY_ID);
        if (input) {
            input.value = query;
        }
        if (query) {
            printSearching();
        }
        fetch('/search-index.json', {credentials: 'same-origin'})
            .then(response => {
                return response.json()
            })
            .then(rawIndex => {
                searchIndex = lunr
                    .Index
                    .load(rawIndex);
                return fetch('/excerpt-index.json', {credentials: 'same-origin'});
            })
            .then(response => {
                return response.json();
            })
            .then(excerptIndex => {
                friendlyMap = new Map();
                for (let item of excerptIndex) {
                    friendlyMap.set(item.id, item);
                }
                maintainInputState();

                if (query) {
                    search(query);
                }
            })
            .catch(error => {
                console.error('Failure when creating search index ' + error);
            });
    });
</script>
{% include search-field.html , focus: true, onsubmit: "event.preventDefault(); search(event.target[SEARCH_QUERY_ID].value); history.replaceState(null, '', location.pathname + '?query=' + event.target[SEARCH_QUERY_ID].value)" %}

<div id="search-results"></div>
<script src="/js/lunr.js"></script>