<!DOCTYPE html>
<html lang="{{site.locale}}">

	<head>
		{% include head.html %}
	</head>

	<body>
		<a id="top" tabindex="-1"></a>
		<div class="x breakout-r">
			{% include header.html %}
		</div>

		<main class="x indent word-wrap default">
			{%- unless title == "notitle" or notitle != nil  -%}
				<div class="breakout-l mrb-2">
					{% include title.html %}
				</div>
			{%- endunless -%}

			{{ content }}

			{% include step-navigation.html %}
		</main>

		<div class="x breakout-r">
			{% include footer.html %}
		</div>

		{% include fit-vids.html %}
		{% include measure-load-time.html %}
	</body>

</html>